[2015-08-26 07:32] tjhorner opened #1 "i am a wang"
wang wang wang wang wang

[2015-08-26 07:35] tjhorner commented on #1
thank

[2015-08-26 07:36] peppy commented on #1
you're welcome

[2015-08-28 09:29] #1 closed

[2015-08-28 09:30] peppy opened #2 "Add a method to enlarge forum images to full size."
Images are scale-to-fit width (similar to old forum) but there's no way to expand them out.

Either click-to-expand (in-line, similar to old forum, seemed to work well) or click to load in new tab/lihgtbox.

I'm a fan of the expand in-line since it doesn't break the UX.

[2015-08-28 09:37] omkelderman commented on #2
I tend to go towards the lightbox option, cause (at least now in old forums) when you expand a picture thats like big you have to scroll to the right, and with a lightbox its needly centered. But maybe the expand can also be centered, idk.

At least in my opinion that expand thing looks ugly.

[2015-08-28 09:39] peppy opened #3 "Consider stripping EXIF metadata from cover image uploads"
Probably worth considering just so users doing accidentally their location.

credit where due:
![](http://puu.sh/jAH3f/0da312d616.png)

[2015-08-28 10:16] peppy opened #4 "No login method in mobile view"
As reported on public slack, there's no way to login if you are viewing the mobile view of the page.

![](http://puu.sh/jpFWq/0fff7bd06b.png)

[2015-08-28 10:56] peppy commented on #4
test

[2015-08-28 12:06] Shavitush opened #5 "pp not shown in user profiles"
I may be blind, but probably not;
pp is not shown in user profiles

I guess this is very easy to implement as it exists in the old site.

Attached a page capture of rrtyui's user profile as an example.
![enkcato](https://cloud.githubusercontent.com/assets/3672466/9545870/517be6f4-4d96-11e5-918f-f99a0fc4f753.png)

[2015-08-28 12:15] peppy commented on #5
This site is still a WIP.

[2015-08-28 12:15] #5 closed

[2015-08-28 17:22] comentarinformal opened #6 "Installation failure due to missing files"
While most of the installation is done automatically by 'vagrant up', there is a file (/vagrant/logs/nginx.log) that is not created, and makes nginx unable to start, making the rest of the installation fail.
When created, the next missing folder is (/data/osu!web/)bootstrap/cache;  once you create said folder, the rest of the installation goes without a problem.

(Of course, you can create then yo

[2015-08-28 17:25] omkelderman commented on #6
i was already creating a textfile with all the problems i got while setting things up :P, but this was indeed one of them, and i think there are more cause i cant get shit to work.

Whenever I have shit running i'll provide a list of steps to do do get things running that worked for me

[2015-08-28 17:31] TheHowl commented on #6
So I guess this can easily be fixed by adding to the vagrantfile `touch /vagrant/logs/nginx.log; mkdir /data/osu!web/bootstrap/cache`?

On 28 August 2015 19:22:58 CEST, Comentarinformal <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2015-08-28 17:33] omkelderman commented on #6
@TheHowl creating the `vagrant/logs` dir is enough, nginx can create the file itself

[2015-08-28 17:51] UncleClapton opened #8 "Userpage's new width can break userpage graphics"
This might end up being one of those "oh well we're stuck with it" things, but maybe something can be done about it. The new me! tabs on profiles have a smaller width than their old-web counterparts, causing split-image userpage header graphics to break.

Some images for reference:

Old Userpages:
![old userpage example](http://puu.sh/jRL18/e60ef71813.png)
New me! tab:
![New userpage example](http

[2015-08-28 18:10] Nicarim commented on #8
In my opinion that's no issue - it's simply new layout, you have to accomodate widths to it, and these images are loosing sense given profile picture background is already a thing. (I can see popular websites buttons being added too, if really needed)

[2015-08-28 18:17] nanaya commented on #6
Sorry, I missed some files when importing the repository. Please check if there's any problem left.

[2015-08-28 18:29] comentarinformal opened #9 "First user ID will make the application fail"
When you execute the instructions to create a new user on the README, it will do so without any problems. You can login and your nick will appear in the respective part.
However, user_id with values 0 and 1 will fail (binary comparison with integers?), and if you go to the userpage it will give an exception ( https://gist.github.com/comentarinformal/42f94d68232fe63b47dd ).

If you manually edit yo

[2015-08-28 18:30] UncleClapton commented on #8
I suppose the best solution would be to add website buttons which would completely eliminate the need for banners like these in the first place.

This is very rough, but maybe buttons like this?
![website button sugguestion](http://puu.sh/jROr4/e8db88c21b.png)

[2015-08-28 18:32] TheHowl commented on #8
Real ugly. I think a dropdown with "links" or something on the profile would be much better

On 28 August 2015 20:30:19 CEST, UncleClapton <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2015-08-28 19:00] UncleClapton commented on #8
A dropdown might be space consuming for just one link, but would work. Additionally users could just add images to act as buttons to their me! tabs / userpages if something integrated won't work.

(also that was a 5 minute draft, it aint supposed to look pretty :stuck_out_tongue_closed_eyes:)

[2015-08-28 19:40] TheHowl commented on #8
Perhaps put a dropdown only if there are 2+ links, and just put a button at its place if it's just one :P

On 28 August 2015 21:00:21 CEST, UncleClapton <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2015-08-29 00:19] peppy commented on #8
We'll likely add youtube and other links to the profile system, going forward.

[2015-08-29 00:26] #9 closed

[2015-08-31 01:07] abraker95 opened #12 "Challange Accepted Achiement Too Thin"
The current challange accepted is thin and doesn't look well among other achievements.

[2015-08-31 05:19] peppy opened #13 "Get graphing library set-up and working with project"
We are looking to create graphs like this in the profile section (and other places on the site).

![](http://puu.sh/jUHL5/2ebf8c46ea.png)

As a test of how I want to move forward with development, I'm creating this issue as an open request. Whoever completed it will be rewarded (supporter tag / merchandise / money, not finalised yet but we'll figure it out).

**What needs to be done**:

- Choose a

[2015-08-31 05:26] peppy opened #14 "Figure out why addresses are getting trimmed"
We've had ongoing cases where store addresses are getting trimmed. This happens for some users when they enter a street address or postcode that contains multiple words, where some words are removed completely.

We've added logging to try and track this down, but if anyone has an idea of how this could happen (and can cite in the code where the issue is, or submit a pull request to fix it), that w

[2015-08-31 05:26] #6 closed

[2015-08-31 05:34] peppy commented on #14
Here are some examples of cases where this happened:

street
----------

`60 Grafton Lane` became `60`
`hofakkers 41` became `41`
`Hofgeest 230` became `Hofgeest`

postcode
-------------

`V3R 1S9` became `V3R`

[2015-08-31 05:37] arflyte commented on #12
I noticed. It will be polished in the future.

[2015-08-31 05:42] MasterBugPatch opened #15 "Hovering Over 8 Covers Preview Feature"
Hey, I really think this would be a great feature. By hovering over an image it just shows your cover as that image for a preview. I really wouldn't mind making a pull request for this as I can do it.

[2015-08-31 05:51] arflyte commented on #15
We already had this in mind. Go ahead and give it a try.

[2015-08-31 05:51] MasterBugPatch commented on #15
Sweet Gracias, love your work BTW. Always been keeping an eye on next.ppy.sh

[2015-08-31 05:53] arflyte commented on #15
Haha thanks.

[2015-08-31 08:11] MasterBugPatch commented on #15
Hmm, just finished programming it up, and I also tested it by compiling it to build. Though I can't push it, and my pull request in client isn't working.

[2015-08-31 08:17] peppy commented on #15
you'll probably have to fork the repository first

[2015-08-31 08:19] MasterBugPatch commented on #15
Yeah, I believe I did. I cloned it, installed Vagrant, set everything up, experimented back and forth with my localhost and editing files, saved everything, and now trying to push/pull it here.

[2015-08-31 08:37] MasterBugPatch commented on #15
Alright, I think I did it ^.^

[2015-08-31 09:43] #3 closed

[2015-08-31 09:49] #12 closed

[2015-08-31 11:01] Protectator commented on #13
I haven't tested Highcharts yet, but I have been using [Flot](http://www.flotcharts.org) a couple of times in some projects. It also works like a charm and is very easy to set up. Not sure if it is better, it's just a suggestion.

[Here](http://www.flotcharts.org/flot/examples/interacting/index.html) is an example of an interactive graph.

[2015-08-31 11:03] peppy commented on #13
On first inspection, the general hover/tooltip support feels a bit lousy on that demo. Generally the thing I look for with charting libraries (customising the feel/motion of it would probably be more effort than it's worth, as opposed to choosing a library with a nice feel from the start).

[2015-08-31 13:26] echojc commented on #14
Does your logging in `postNewAddress` show whether the truncated addresses are being received correctly (and therefore trimmed afterwards) or are being received by the controller with parts already missing?

[2015-08-31 13:27] peppy commented on #14
I haven't checked the logs yet... been waiting for the issue to happen since we added logging to be honest. Should have results from the later this week after we send out the next batch of orders.

[2015-08-31 13:54] Sakisan commented on #13
Chartist may be a good candidate: http://gionkunz.github.io/chartist-js/

[2015-08-31 13:57] nanaya commented on #13
hmm that chartist has react integration as well.

[2015-08-31 15:16] chudooder commented on #13
[D3](http://d3js.org/) is an option, customizable and very powerful. Might be too much overhead

[2015-08-31 15:43] vowywowy commented on #13
100% Google's charting library. You can change pretty much anything and the line charts are pretty much exactly what you are looking for: https://developers.google.com/chart/interactive/docs/gallery/linechart

[2015-08-31 15:45] nesk commented on #13
Google Charts' license requires to load the library from Google's CDN, not sure this is what they want since they use Bower.

[2015-08-31 16:11] ITzNybble commented on #14
My first thought is that of echojc, if this is something that cannot be replicated then it would seem to me that we are losing / truncating the string before being received. I am setting up the environment now.. taking some time but will take a look when its all up and running.

[2015-08-31 19:05] ITzNybble commented on #14
Also If a database is being utilized, I assume it is, The case could be that the truncation is occur within the databse (storing, Retrieving, updating, etc). Just a thought

[2015-08-31 19:20] reesebiz opened #20 "Sample Data"
It would be really convenient for there sample data for people working on the site. When people clone the repo it should available from the get-go. Preferably already on the site too, and not just in the DB.

Looking for:
- Beatmaps
- Beatmap Sets
- Users
  - User Stats
- Forums
  - Forum Posts
- Wiki
- Tournaments
- Store
  - Store Items
- Changelog

[2015-08-31 21:43] peppy commented on #20
We need to setup proper [seeding](http://culttt.com/2013/12/16/seeding-laravel-4-database/). If anyone is interested in looking into it, I'm happy to offer some bounty for a good implementation (amount depends on quality and completeness)

[2015-08-31 22:36] peppy commented on #13
Google charts is definitely not an option (not keen on having stuff loaded from external sources, nor having no control to customise the library is required.

D3 is crazy powerful, but having used it before, the effort required to get it into a usable state is just too much.

I looked at chartist, but it felt a bit barebones. If someone wants to try and make the above-pictured graph using it then

[2015-08-31 22:40] peppy commented on #14
The issue is definitely not at the database side.

[2015-08-31 23:51] TheHowl commented on #13
What browsers are we supporting?

[2015-09-01 05:42] Eclmist commented on #13
Highcharts is perfect for this, some of their examples looks rather close to what we're going for.
Won't take much tweaking to get it to look like the example above

[2015-09-01 05:44] peppy commented on #13
No specific restrictions on browser support. Aim for as much support as possible and add more if people complain.

[2015-09-01 13:55] reesebiz commented on #20
I'll look into it, but no promises.

[2015-09-01 17:57] ITzNybble commented on #14
Okay, after some more research that would seem unlikely

[2015-09-01 19:11] Nicarim commented on #14
@ITzNybble isn't address sent via POST request? If so, it has nothing to do with URL right?

[2015-09-01 19:17] TheHowl commented on #14
You could also argue this is because the POST request is incomplete. But even the beginning of an address is trimmed, as shown from the `hofakkers 41` example.

[2015-09-01 19:21] Nicarim commented on #14
I'd check if it's either javascript part or php part failing with that, and then start working from that (unless it's already known which side fails?)

[2015-09-01 20:34] ITzNybble commented on #14
I guess I am curious now as to when does the trimming happen? after clicking Add new address? or after moving to Paypal? if it is after clicking add new address it is within the POST new address or javascript that handles anything to deal with that. if it is after sending to Paypal then I would need to look else where...

[2015-09-01 21:50] chudooder commented on #13
[Here's a D3 demo for the rankings graph.](https://gist.github.com/chudooder/991841e4a1dcd0bc790f)

[2015-09-01 22:21] comentarinformal opened #21 "Duplicate entry 0 for key primary"
I found this when trying to create more than one user (with the first one's ID being 0). Now I had it happen trying to add a second address. It says 'failed loading requested page', and examining the error, it says
'QueryException in Connection.php line 638:
SQLSTATE[23000]: Integrity constraint violation: Duplicate entry '0' for key 'PRIMARY' (SQL: insert into `osu_store`.`addresses` (`first_name

[2015-09-01 22:47] Sakisan commented on #13
It's looking good, chudooder. I've put it online if you don't mind: http://pp.sakisan.be/graph/d3.html

And here's my chartist demo as well. http://pp.sakisan.be/graph/chartist.html

[2015-09-01 23:16] peppy commented on #21
sounds like auto_increment is not working correctly? did you manually insert data or something?

auto_increment should start from 1, not 0

[2015-09-01 23:18] comentarinformal commented on #21
I haven't inserted anything manually in the addresses table, I used the Add address button

[2015-09-01 23:21] peppy commented on #14
- It's a POST not GET.
- We are using HHVM, not PHP.
- It's nothing to do with the length (you haven't been reading; should be obvious from opening post).

[2015-09-01 23:23] peppy commented on #14
Also why even mention PayPal? have you looked at the code before replying here?

[2015-09-02 00:00] ITzNybble commented on #14
My apologies, I thought I understood the issue I will re-read and try to understand better.

I brought up Paypal because I thought this was the web store for the osu! site and I was browsing that and noticed it sends you to paypal. I suppose I am wrong in that thinking as well. Sorry to waste everyone's time I was just trying to help. :(

[2015-09-02 01:12] nanaya commented on #21
apparently I managed to remove the auto increment and indexing data from the structure dump

[2015-09-02 03:03] ITzNybble opened #22 "Files Not Found when running gulp"
When running ./node_modules/.bin/gulp I am getting multiple file not found log entries:

[02:29:21] Merging: resources/assets/js/messages.js
[02:29:21] File not found: bower_components/jquery-ujs/src/rails.js
[02:29:21] File not found: bower_components/jquery-timeago/jquery.timeago.js
[02:29:21] File not found: bower_components/jquery-zoom/jquery.zoom.js
[02:29:21] File not found: bower_components

[2015-09-02 03:18] RedbackThomson commented on #22
This is saying you're missing your bower dependencies.
You'll need to run the command ```bower update``` from the directory containing bower.json so it can install them.

[2015-09-02 03:45] peppy commented on #21
Fixed in 404f65e28072a9ab3c39c22ff8a18f077949145d. Please import the database structure again.

[2015-09-02 03:45] #21 closed

[2015-09-02 04:06] ITzNybble commented on #22
Awesome! Thank you, I got it working. Closing now.

[2015-09-02 04:06] #22 closed

[2015-09-02 07:20] abalabahaha commented on #13
[Meh Highcharts example](https://abal.moe/xperimental/highcharts.html)
* today needs tweak on narrow things
* currently hardcoded to show 24 months of data, but can be tweaked to dynamically adjust based on the data provided
* needs more browser testings

[2015-09-02 07:26] peppy commented on #13
highcharts definitely feels the closest of the three (also the mouse interaction feels the most solid by... a long shot).

any chance of the getting the gradients correct for the vertical grid lines?

[2015-09-02 08:37] tewki commented on #14
Is it possible to get at least a user agents / browser versions of one of the people who it has happened to? Because it's more than likely a client sided problem since there's nothing in your code that would trim it and the addresses doesn't contain multibyte characters.

[2015-09-02 13:46] avail commented on #13
@Sakisan the hell is going on with chartist? http://a.catgirlsare.sexy/spodfq.webm

[2015-09-02 14:54] abalabahaha commented on #13
What does osu-web fall under? Because [Highcharts appears to be free only for non-commercial use](http://shop.highsoft.com/highcharts.html)

[2015-09-02 14:59] chudooder commented on #13
@peppy I think the mouse interaction on D3 works the same as in chartist, but I spread out the data points so it feels choppy. Regardless chartist clearly requires much less code so hopefully we can use it

[2015-09-02 15:02] Tom94 commented on #13
@chudooder D3 is good for it's customizability, though. Currently the issues with your implementation are inconsistent interpolation rates (likely framerate-dependent updates, really should be made independent of frame rate) and the fact, that the marker can get off the graph under some circumstances: http://puu.sh/jX9uO/de81a01d22.png

[2015-09-02 15:05] peppy commented on #13
I'm fine with paying for libraries, personally. Getting D3 to behave as well as highcharts feels like a waste of energy to me (especially as we utilise different graph styles going forward).

[2015-09-02 15:17] chudooder commented on #13
Hopefully the multiple developers thing in Highchart's licensing policy won't become an issue: "Each person who directly or indirectly creates an application or user interface containing Highcharts is considered a developer." Would this ever become an issue if we decide to go with this library?

[2015-09-02 15:20] peppy commented on #13
in a development scenario this project is NFP. the production deployment would require a licence (although you could argue against that, too).

[2015-09-02 15:28] nanaya commented on #13
http://forum.highcharts.com/highcharts-usage/web-app-license-t20534/

[2015-09-02 16:13] Blaizer commented on #13
The gradients on the grid lines are doable, but would require modifying Highcharts, or whatever you end up using. In the generated SVG, you'd have to change the lines from being <path> to <rect>, and then you can use a stroke gradient on the (0 width) rects.

[2015-09-02 16:18] abalabahaha commented on #13
Yeah, I just did gradient grid lines with .5 width rects. Haven't changed the version on my site tho.

[2015-09-02 16:21] tewki commented on #13
@abalabahaha you can use their own linearGradient method you know, like http://jsfiddle.net/64o9eufy/

[2015-09-02 16:26] Blaizer commented on #13
That's really cool. Turns out Highcharts lets you specify a gradient like that for any color. It's documented here: http://www.highcharts.com/docs/chart-design-and-style/colors

[2015-09-02 16:35] tewki commented on #13
Yea it was a pain to find out because it's rather hidden unless you read the whole documents because else you'll have to hook onto the load event and force your gradient into the defs with the svg namespace (That's important for anyone wants to try using only jQuery to make them. because of it being "xml", it won't "parsed" or whatever out a namespace thus won't it won't be rendered, which is a pa

[2015-09-02 17:00] nanaya commented on #13
I think we should at least use same data points when doing comparison. At least the d3 example felt weird because the data jumps around. Using highcharts example: https://e.myconan.net/tmp/d3.html

[2015-09-02 19:10] abalabahaha commented on #13
Yeah I realized the version of Highcharts I had on my local dev machine didn't have gradients for some reason...

[2015-09-02 21:22] peppy commented on #13
@nanaya I guess we could provide slot table graphing API support if it comes to that, to avoid distributing it with the app.

Actually if it was added as a bower download i'm not sure that would even be considered as bundled anymore.

Either way, D3 feels like shit on iOS (graph flahshes every touch, tweens are basically instant, no drag support as mentioned) so there would need to be further chan

[2015-09-02 21:42] peppy opened #27 "Add google analytics support"
- Should be able to specify a GA identifier in .env.
- Should use latest include method (async load) and match the way other js is being handled in this project as closely as possible.
- Should only be used when present.

Should be a fun task for someone looking to get familiar with the framework.

**[Bounty](https://goo.gl/nFdoyI) offered**: 5

[2015-09-02 22:21] comentarinformal opened #28 "Long nicknames consisting of one word get cut"
As Sulker@Slack noticed, nicks bigger than the current limit will get cut off on jizz forums, looking quite bad.

Short-term solution is easy: change the infobox from 120px to 140px. I don't know if there's people with bigger nicks than me, and if it would work in them, though.

[2015-09-02 22:21] peppy commented on #28
Can you provide a screenshot or example link just for clarity?

[2015-09-02 22:22] comentarinformal commented on #28
Sure thing: https://jizz.ppy.sh/forum/t/265602?start=3932241#forum-post-3932241

[2015-09-02 22:23] peppy commented on #28
@arflyte this one needs your input.

[2015-09-03 00:27] peppy opened #29 "Bullet points look wrong in some instances"
Likely bbcode parsing failure: http://jizz.ppy.sh/forum/t/259747?start=3508242#forum-post-3508242

![](http://puu.sh/jXZEu/6d7ae40601.png)

**[Bounty](https://goo.gl/nFdoyI) offered**: 4

[2015-09-03 00:30] peppy opened #30 "Live post preview when replying"
Currently the live post preview is only visible when creating a new topic. Would be nice to have it when replying also.

**[Bounty](https://goo.gl/nFdoyI) offered**: 250

[2015-09-03 00:38] peppy opened #31 "Disallow double-posting on forum"
- Reply dialog should be visibly disabled with a message in its place telling user to edit last post if they want to add more content.
- A double post should be allowed after n days from original post (let's start with 3, but this is probably best a definable constant).

**[Bounty](https://goo.gl/nFdoyI) offered**: 60

[2015-09-03 00:44] tewki commented on #31
Wouldn't a automated merge system be better user side wise?

Talking about merging the new post with the old one (Not making a new post then merging)

[2015-09-03 00:53] peppy commented on #31
Automatic merging would probably work too. Not sure which feels better to a user. Most people would probably rethink/rephrase their last post if they were aware it was going to be merged automatically.

Having a link to enter edit mode in the last post from within the "can't-double-post" message is a must, though. Gotta make it accessible.

[2015-09-03 00:55] Repflez commented on #31
I suggest going with disabling posting new replies in the thread if the last post was made by user and instead encourage it to edit their post. Editing it would bump the thread obviously.

[2015-09-03 01:10] neico commented on #31
Bumping should only happen in interval's though, else people would abuse it to keep their favorite thread on top.

And I'm also for a auto-merge option, which each user can set on their own personal preference, something like:

Option: (checkbox) Enable auto-merge on double-post
Desc: Disabling this will disable the reply dialog as long as a reply would count as a double-post

[2015-09-03 01:15] peppy commented on #31
No user-side options, please. We decide on what is best for the user for cases like this.

[2015-09-03 01:38] peppy commented on #2
@arflyte need your input on this

[2015-09-03 01:43] abalabahaha commented on #13
[Updated my thing with gradients and dynamic datetime label generation and mostly mobile (narrow screen) support](https://abal.moe/xperimental/highcharts.html)

[2015-09-03 01:48] peppy commented on #13
Looking good! Unfortunately, on further investigation it looks like highcharts is definitely not GPL compatibile (http://stackoverflow.com/a/24134439).

Fucking licencing...

[2015-09-03 02:12] tewki commented on #29
For anyone who wanna fix as I don't have my normal environment, that caused by HTMLPurifier's strict parsing because of the tags that is in it (any tag) as it interprets it as only having the *ol* tag with no *li* tag surrounding it which is going against the strict parsing,
Thus it pushes the end stack to the beginning of that tag (This case *em*) and wraps the content with *li*.

So it's either

[2015-09-03 04:07] nanaya commented on #27
It's probably too easy.

[2015-09-03 04:08] nanaya commented on #30
design wise this looks impossible. Unless by "live" you mean tabbed just like github.

[2015-09-03 04:09] peppy commented on #30
tabbed is an option, for sure.

[2015-09-03 04:09] peppy commented on #27
go for it :8ball:

[2015-09-03 04:25] nanaya commented on #27
whoops, almost forgot about turbolinks \o/

[2015-09-03 04:33] peppy opened #32 "Change lightbox background opacity"
We've decided it looks better at ~80% rather than completely black.

**[Bounty](https://goo.gl/nFdoyI) offered**: 1

[2015-09-03 04:41] peppy commented on #20
**[Bounty](https://goo.gl/nFdoyI) offered**: 20

Only offered for complete implementation as described in https://github.com/ppy/osu-web/pull/26#issuecomment-136953592, and documentation added to the readme.

[2015-09-03 04:49] peppy commented on #13
So to rephrase, the remaining issues with d3 are the tweening between points (see http://puu.sh/jYch3/b101de3e2a.mp4) and mobile support.

[2015-09-03 05:00] dvcrn commented on #31
Are there any style mockups for disabled textareas and / or disabled buttons?
I'm poking around with the code right now and ended up with 2 mockups

Just disabling the textarea and writing some text into it + hiding reply button:
![screen shot 2015-09-03 at 1 43 02 pm](https://cloud.githubusercontent.com/assets/688326/9650707/bd552f98-5241-11e5-991c-b4a9dba20bc2.png)

Like above but hiding the ava

[2015-09-03 05:20] nanaya commented on #32
looks a bit weird? or now? not sure why ┐(･_･)┌

![](http://puu.sh/jYdsM/703ea06c3a.jpg)

[2015-09-03 05:22] nanaya commented on #28
a bit confused with 'cut'. I think it's more like split. And that's how flyte decided few while ago iirc.

[2015-09-03 06:16] arflyte commented on #31
Let's go with something like this
![screen shot 2015-09-03 at 3 14 57 pm](https://cloud.githubusercontent.com/assets/3632750/9651687/c00ff206-524e-11e5-9a55-04e0122c6e85.png)

[2015-09-03 06:23] nanaya commented on #31
let's not forget reply box is shown by default.

[2015-09-03 06:24] peppy commented on #31
I'm assuming that notice replaces the reply box. Although it should probably read something more along the lines of "You have just posted in this thread! If you want to add more to your post, please <a href='#edit'>edit</a> your existing post!"

[2015-09-03 06:26] nanaya commented on #31
I think it should be information (yellow? blue?) instead of alert (red).

[2015-09-03 06:27] nanaya commented on #31
also need to think what to show when user click on reply link of a post.

[2015-09-03 06:29] peppy commented on #31
yellow sounds good

[2015-09-03 06:55] arflyte commented on #31
yeah, let's go with yellow.

[2015-09-03 07:33] #27 closed

[2015-09-03 08:45] TheHowl commented on #30
I don't see this as 'impossible'. [Ghost](https://ghost.org/) and [Dillinger](http://dillinger.io/) allow you to write markdown and parse it real-time as you type it. If you want to see a real-life example of a forum bullettin system which does the same, check out [NodeBB](https://nodebb.org/). Last time I checked it they did it in a bit different way to what we're doing (instead of putting the re

[2015-09-03 08:59] TheHowl commented on #32
What about this?

![](http://y.zxq.co/cohcfu.png)

[2015-09-03 09:00] peppy commented on #32
white border feels bad. also we still want the controls, as far as i'm aware.

[2015-09-03 09:01] TheHowl commented on #32
Still there on mouse move.

![](http://y.zxq.co/brbeif.png)

[2015-09-03 10:39] peppy opened #35 "osu!status page design"
Trialling some larger bounties. This one involves implementing a design concept fully.

![](http://puu.sh/jYodW/1e03c465f6.png)

This is a **stand-alone** status page, which will be replacing http://stat.ppy.sh

Requirements:
- Make a blade template to match the attached page style.
- Follow existing styling naming standards.
- Reuse existing styles where possible.
- Write in a way that can easily

[2015-09-03 14:31] chudooder commented on #13
I'll look into the mobile stuff later today, but unfortunately I don't have access to an iOS device so if someone could assist me with bugfixing that would be cool. It's pretty difficult to animate the circle perfectly along the line, and the animation actually causes it to feel unresponsive on mobile. One option is to mimic highcharts; instantly move the circle, animate only the tooltip. With eno

[2015-09-03 18:38] peppy commented on #13
You can put chrome into a mobile emulation mode, which should give you basically the same behaviour.

[2015-09-03 19:42] Pepperrika commented on #35
Nice work peppy

[2015-09-03 19:55] TheHowl commented on #35
*flyte

[2015-09-03 21:38] comentarinformal opened #36 "Adding json with images to a product's images_json throws an ErrorException"
A product in the store has a json-encoded list of image URLs added to its images_json column (tried with ["https:\/\/upload.wikimedia.org\/wikipedia\/en\/c\/c7\/GlennRhee.jpg"] and ["http:\/\/lorempixel.com\/500\/500\/?76327","http:\/\/lorempixel.com\/500\/500\/?34281","http:\/\/lorempixel.com\/500\/500\/?36519"] )

When loading the page of said product, a 'Read error!' will stop it from working.[

[2015-09-03 23:18] peppy opened #37 "Wiki page template"
wiki page template

Trialling some larger bounties. This one involves implementing a design concept fully.

![](http://puu.sh/jZ30d/43955f5186.png)

This is the wiki page template, which will be housing wiki articles currently found at http://osu.ppy.sh/wiki/

Requirements:
- Make a blade template to match the attached page style.
- Follow existing styling naming standards.
- Reuse existing styles

[2015-09-03 23:32] peppy commented on #36
here's a sample for you:

	INSERT INTO osu_store.products (product_id, name, description, image, cost, weight, base_shipping, next_shipping, stock, max_quantity, created_at, deleted_at, updated_at, promoted, display_order, header_description, header_image, images_json, master_product_id, type_mappings_json, custom_class) VALUES (12, 'osu! t-shirt (triangles) / White S', 'Brand new osu! t-shirts ha

[2015-09-03 23:43] comentarinformal commented on #36
(....Well, to be fair to myself, json_encode escapes / so I don't see my mistake as far-fetched)
Thanks for that sample, it helps both with the images issue and illustrating how to use master_product_id and type_mappings.

[2015-09-03 23:43] #36 closed

[2015-09-04 00:21] dvcrn commented on #31
@arflyte something like this? ![screen shot 2015-09-04 at 9 18 24 am](https://cloud.githubusercontent.com/assets/688326/9674015/38146b0a-52e6-11e5-90f5-61204cc65424.png)

[2015-09-04 01:35] peppy commented on #31
The "edit your post" text should probably trigger edit mode for the user. The text doesn't look to be vertically centered, too. Other than that, looks fine.

[2015-09-04 02:04] troke12 commented on #35
is recent incidents update from twitter ?

[2015-09-04 02:05] peppy commented on #35
The final source isn't important for now. This is purely getting the design in place. If you are going to add a datasource, and are doing so with react, you should just be supplying an array of test data.

[2015-09-04 02:12] abalabahaha commented on #37
What about on smaller screens? Would the sticky menu be taking up too much space?

[2015-09-04 02:15] peppy commented on #37
The mobile design of the menu has not yet been finalised, so it's fine to just hide it when on a portable device (not sure it's that useful in this case anyway).

[2015-09-04 02:47] Repflez commented on #37
The "Current events" (it's just another article on the wiki) and "Related changes" (lists changes in pages it links and such) links may go.
Special pages link could be removed since it's only a hub for certain pages on the current wiki or could be reworked to be an actual listing of pages that help editors but that's another story.
Do we need a printable version of an article? "Permanent link" may

[2015-09-04 02:54] peppy commented on #37
I believe we are going to have options like "edit current page" etc. in that menu, so it will definitely have a place going forward. I agree that a lot of the items there at the moment can be removed.

[2015-09-04 03:15] kcaze commented on #29
The exact issue we're seeing is http://stackoverflow.com/questions/29433364/htmlpurifier-prepending-extra-list-item-to-all-lists.

There are extra `<br/>`'s being added to the list because we're appending a `<br/>` to all `\n` characters. The easiest fix for this is to append `<p></p>` instead of `<br/>` elements. Here's a screenshot where `<p></p>` is inserted instead of `<br/>`:
http://up.ppy.sh

[2015-09-04 04:41] MasterBugPatch opened #39 "Quick Question"
How would I go about making a user supporter from the Vagarant SSH?

[2015-09-04 04:43] peppy commented on #39
set `osu_subscriber = 1` for your user in phpbb_users

[2015-09-04 04:54] MasterBugPatch commented on #39
Hm, would I do that directly from the hhvm artisan just using normal Select Table etc etc?

[2015-09-04 04:58] peppy commented on #39
if you want to use artisan tinker:

[code]

[2015-09-04 05:00] MasterBugPatch commented on #39
Gracias ^.^

[2015-09-04 05:00] #39 closed

[2015-09-04 05:00] Tewki commented on #39
Or if you wanna go via sql,
`mysql -u osuweb osu`
`update phpbb_users set osu_subscriber = 1 where username = 'yourusername';
`

[2015-09-04 05:01] MasterBugPatch commented on #39
That ones great too, thanks. @Tewki

[2015-09-04 08:54] Tewki commented on #35
Peer 'it is recommended that you claim this issue if you are serious about it.', I'm quite interested and have started but had to go to work; Should go rather quick thanks to flexbox & the psd.

Also, instead of those red gradient borders around the active incidents wouldn't it fit more with a semi-light colored flat warning pattern or a flat color instead of giving the flat design depth.

[2015-09-04 09:18] peppy commented on #35
i tend to agree that the gradients feel a bit out of place. @arflyte?

[2015-09-04 09:45] arflyte commented on #35
Feel free to remove the gradients.

[2015-09-04 09:57] peppy opened #45 "User card/menu design"
Trialling some larger bounties. This one involves implementing a design concept fully.

![](http://puu.sh/jZttw/0d4f5faa35.png)

This is the user card and menu, which will appear when you click your avatar/username at the top-right of any page.

Requirements:
- Implement design with interaction logic (should appear and dim page when avatar is clicked).
- No need to actually connect up the data sou

[2015-09-04 10:13] ThePooN commented on #45
Interesting. I may try to do it if I find enough time.

[2015-09-04 10:52] MasterBugPatch opened #46 "Pulling only 1 commit?"
For the last 45 minutes I've been trying to pull request just one commit, followed a lot of guides but just can't seem to get it.

This is my fork of osu-web: https://github.com/MasterBugPatch/osu-web

I'm trying to pull request only 4294e8258e927e646176ad991a44bb7d87000125 to here.

Anybody can guide me on how I would go about doing that?

[2015-09-04 10:54] peppy commented on #46
You need to put it on its own branch first.

[2015-09-04 10:55] MasterBugPatch commented on #46
@peppy I have tried putting it on one branch, cherry-picking, then forcing an update. I must be missing something or just not doing it right.

[2015-09-04 11:47] PieInOblivion commented on #2
I'm sorry are you asking how an option should be implemented or how to do it?

[2015-09-04 12:26] PieInOblivion commented on #14
I once read that strings not stored in 'EXAMPLE' are sometimes not stored correctly. Just a simple thing I once forgot when setting up my server environment.

[Off-Topic]
Also, wasn't PHP 7 supposed to use almost 5x less memory than HHVM and only the slightest bit slower, close to not even measurable? (Would save on server costs)

[2015-09-04 12:47] peppy commented on #14
No idea what you mean by 'EXAMPLE', but likely not related.

[Off-Topic[
Leave servers to me. This project is portable so it's not a huge issue.

[2015-09-04 13:11] TheHowl commented on #46
[code]

The commit you don't want to pull into the repo should be reverted, and you can do the pull request of that commit.

If you do not want to have those "merge remote tracking..." commits, then next time you do `git pull` remember to do `git pull --rebase`, or set it to always use rebase:

[code]

[2015-09-04 15:46] claudiodekker commented on #45
Sign me up for this one, I don't care about the bounty.

[2015-09-04 17:18] MasterBugPatch commented on #46
@TheHowl I had a bunch of problems trying to do that, it was saying I wasn't merged up with the main branch, and more. So I just deleted the whole fork, then reforked it, commited the changes I wanted. Now I'll do that thing you said would not create commits for updating the fork, thanks ^.^, very helpful!

[2015-09-04 22:25] PieInOblivion commented on #14
What i ment by 'EXAMPLE' what the ' marks surrounding the word EXAMPLE. This has been sometimes known to cause small issues but it's a bit of a loopy error.

[2015-09-05 00:49] MasterBugPatch commented on #37
@peppy So for this bounty, it's just the programming of design correct? We don't actually have to have program in the Wiki part? For example I can just program the design with lorem ipsum as text?

[2015-09-05 00:50] peppy commented on #37
Correct. This is just for the base template and menu functionality. I'd recommend using the text in the PSD so you can ensure you get as close to the mock-up as possible.

[2015-09-05 00:51] MasterBugPatch commented on #37
Okay, I'd like to claim this then for the 10 days.

[2015-09-05 00:52] peppy commented on #37
`bounty / 10` so 5 days for this. and sure, best of luck.

[2015-09-05 00:52] MasterBugPatch commented on #37
@peppy Thanks, I'll keep you updated also.

[2015-09-05 00:59] #46 closed

[2015-09-05 02:11] MasterBugPatch commented on #37
@peppy In the PSD, the wiki is under community? But actually, it's under help. Can I continue under help or should I reprogram it to community?

[2015-09-05 02:13] peppy commented on #45
On a semi-related note: I understand many people do not want financial compensation. That's why we are offering unique rewards (flare for your profiles etc.) which are only available by accumulating bounty. If I was you I'd start saving :).

[2015-09-05 02:19] peppy commented on #37
i think help is correct. @arflyte just doesn't update the header when he makes these :sleeping:.

[2015-09-05 02:26] MasterBugPatch commented on #37
Alright, help it is ^.^, thanks.

[2015-09-05 03:43] Sulker opened #51 "Loggng in via in topic reply feature"
Was thinking of a feature which will make you being able to login when replying to a topic if not logged in.(If scrolled all the way down to the bottom of a thread). I was thinking of hopefully clicking a guest avat box in the reply prompt would open the login prompt to login and continue where we was last positioned
![2015-09-04_23-39-16](https://cloud.githubusercontent.com/assets/14132792/969752

[2015-09-05 06:15] MasterBugPatch commented on #51
Or, we could just set the profile picture to the guest image. Then when they press post and it pops up a login dialog, do you think that would be efficient too?

[2015-09-05 08:52] nanaya opened #53 "CSS Major Overhaul"
As I (not so) recently learned, I've been violating a lot of [efficient css guidelines](https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Writing_efficient_CSS). I've been trying to reduce the problem by implementing [BEM](http://getbem.com/) in a few places but it's still pretty much over my head (and I think I did it incorrectly).

At least newly written CSS should conform the guidelines an

[2015-09-05 10:41] claudiodekker commented on #45
Alright, fair enough. Count me in, then.

[2015-09-05 10:59] claudiodekker opened #54 "Minor: User and Login dropdown 'glitches' when toggled too quickly"
https://github.com/ppy/osu-web/pull/50#issuecomment-137892606

Turns out it's a minor issue already in existence (not introduced with my commit) related to the login modal.

Other than that, it doesn't block user experience in general usage. Don't consider it anywhere near important, fix other things first.

[2015-09-05 11:07] claudiodekker commented on #51
This should be possible, since we could trigger the login using the post-button.

Basically, the way the login works is via AJAX, and when triggered, it keeps the triggering element in mind, clicking it after logging in. The way to trigger this is by adding the *js-login-required--click* class.

[2015-09-05 12:49] miguelmartin75 opened #55 "Creating user: Fatal error"
The following command fails for when I try to create a user:

[code]

It throws a run-time error (for me using vagrant on OS X 10.10.4 via the install on the web [vagrant 1.7.4]), which is the following:

[code]

[2015-09-05 12:54] Tewki commented on #55
`sudo dpkg-reconfigure locales && sudo update-locale LC_ALL=en_US.UTF-8 LANG=en_US.UTF-8`

[2015-09-05 12:55] miguelmartin75 commented on #55
Looks like this is a common error with [HHVM](http://laravel.io/forum/08-28-2014-hhvm-instead-of-php-laravel-composer-installation-error). The solution is to simply do the following:

[code]

Exit ssh and re-enter it via `vagrant ssh`.

Alternatively if that doesn't work, this might:

[code]

[2015-09-05 12:55] #55 closed

[2015-09-05 12:56] miguelmartin75 commented on #55
Thanks for the alternative solution @Tewki.

[2015-09-05 13:54] miguelmartin75 opened #56 "base62_encode minor bug"
The [`base62_encode`](https://github.com/ppy/osu-web/blob/master/app/helpers.php#L280-L294) function has a very small bug in it, but I thought I'd mention it. If you call `base62_encode(0);` it will return an empty string, and I assume that is not what you want. A simple fix is to use a do-while loop instead of a while loop, like so:

[code]

[2015-09-05 14:20] nanaya commented on #56
good catch, thanks.

[2015-09-05 14:37] claudiodekker commented on #53
After 1.5 hours of discussion and headaches, I think the conclusion on BEM blocks within elements, is that one element should become both the parent block and a child element (mix-in).

For example:
[code]

[2015-09-05 14:53] kawaii commented on #53
One thing that causes a huge amount of GPU memory load is the moving triangles in the background of the navigation, you could actually see this by removing the node or adblocking it whilst having the show FPS meter enabled (Press escape on the console -> rendering). also
[Google's Optimizing Performance](https://developers.google.com/web/fundamentals/performance/rendering/?hl=en) can be useful to

[2015-09-05 20:11] miterosan opened #58 "What is thd standart pass and username for mysql?"
What is the standart pass and username for mysql?

[2015-09-05 20:11] Tewki commented on #58
osu and no password

[2015-09-05 20:11] nanaya commented on #58
I think it's `osuweb`...

[2015-09-05 20:14] miterosan commented on #58
thank you two!

[2015-09-05 20:36] #58 closed

[2015-09-05 20:51] TheHowl commented on #58
you can also login as root. there's still no password even if you login
as root, so `vagrant ssh` and then `mysql -u root` should do it

[2015-09-05 22:22] Tewki commented on #35
Pretty much done with the design + layout + functionality, only got the graphs + charts left which tends to be the most horrible part.

Partly the map, cuz of the way d3/DataMaps clips the path you can't really rely on a svg pattern to make the circles out getting clipped everywhere which doesn't look as nice.

Currently also looking at [c3](http://c3js.org/) and other libraries that has the right

[2015-09-05 22:29] peppy commented on #35
I'm all for looking at extension libraries on top of d3 (on its own, as you say, it can be a beast to tame).

I'll follow up with @arflyte for the header layer.

Gradient change looks okay. Should be able to change the yellow to red or green (to match the three statuses in the incident timeline) too :).

Looking forward to going through your implementation! Post early and we can give you more rapi

[2015-09-06 00:37] MasterBugPatch commented on #37
@arflyte @peppy On the Wiki-Navigation, Are the ( = ) buttons,icons or are they linked somewhere?

[2015-09-06 07:43] #56 closed

[2015-09-06 18:04] MasterBugPatch commented on #37
Nevermind. I figured out how to create them myself by surrounding a fa icon in a circle.

[2015-09-06 21:43] MasterBugPatch commented on #37
Finished
https://github.com/ppy/osu-web/pull/60

[2015-09-07 07:32] peppy opened #61 "Skin System"
For Marcin

Pages:
- Skin listing page. Should allow users to view all public skins (and also all of their own skins).
- Skin information page. What you get when you click a listing entry. Gives you options to clone the skin (make your own copy of it to further modify), download, watch preview videos etc.
- Skin creation page. Choose skin name, description, preview image, upload skin elements.

Th

[2015-09-07 10:39] PieInOblivion commented on #54
No one has acknowledge my contributions so far, why would it change now, but I'll say what I'll say anyway...

Found the simple issue and have a simple solution.
The issue is the transition timer 0.15sec. When the login is pressed, the page creates a 'modal-backdrop fade in' class inside a div it creates, which it then fills with the opacity. If the user then presses away from it (Or on the login

[2015-09-07 10:57] PieInOblivion commented on #61
I think it could be nice that when a user visits a skins download page that it's thumbnail or preview picture be a server generated one. This preview image would be consistent across all skins (But will show the selected skin instead) and I think could look quite nice.

Eg: http://puu.sh/k2Utb.png
The red line is just to split the two and show how both are the same but with different skins.

[2015-09-07 10:57] peppy commented on #61
This is planned, yes.

[2015-09-07 10:58] Nicarim commented on #61
That was planned before, yeah,

pon., 7 wrz 2015, 12:57 PieInOblivion użytkownik <notifications@github.com>
napisał:

[2015-09-07 10:58] PieInOblivion commented on #61
May I ask what's missing? perhaps I could contribute?

[2015-09-07 11:06] PieInOblivion commented on #53
May I ask why the page is loading a branch of external files from the same domain?
My debug browser keeps bugging me (When I load the page) that 'http://jizz.ppy.sh/forum' (Homepage) is loading an external javascript from a reference and then again in the javascript another CSS file. May I ask why? And I notice this when I load the page, the font changes a couple micro-seconds later as it finished

[2015-09-07 11:09] PieInOblivion commented on #45
This can be done in very simple JS, I'll see what I can throw together in my spare moments. (I understand you want it completed, not a half finished one)

[2015-09-07 12:05] PieInOblivion commented on #45
[Re-Adding Comment]
I'll give it a shot. But question, when you say "No need to actually connect up the data source", why?
"we need to do some further work for this.", it would just be so simple to 'Get <a> text inside div 'nav-user-bar'' then paste that at the end of link "http://jizz.ppy.sh/u/" but JUST load the index.html and take the information from that. I don't see the need for another data

[2015-09-07 12:06] peppy commented on #45
You might want to check the pull request above, where @claudiodekker has already submitted a completed implementation for this!

[2015-09-07 14:18] Nicarim commented on #61
@PieInOblivion nothing is done yet, it's just a draft until I pick it up (probably tomorrow)

[2015-09-07 19:21] claudiodekker commented on #54
Well, the issue is basically two words: Race conditions.

I didn't really bother explaining it, as that anyone experienced enough to create and implement a proper a fix for this would've recognized it straight off the bat anyway. But yes, it's pretty much exactly what you mentioned.

---

As for as your solution, that won't work. The reason for this is that this issue isn't created by our code*, b

[2015-09-08 05:54] PieInOblivion commented on #61
If any assistance or errors are found or needed, I'll attempt best I can to help.

[2015-09-08 05:56] PieInOblivion commented on #54
After some thought about my comment yesterday, I came to the conclusion that, yes, my idea wasn't a very good one and came up with another. Since it's simple, and I don't have the time to implement it... Don't know where I was going with that.

[Fix]
Exactly as you stated above, disable object trigger until transition timer is finished.
Just what I was thinking, 2 hours after I posted before.

[2015-09-08 09:29] ameliaikeda commented on #20
Feel free to assign this to me; I'm going to implement [Model Factories](http://laravel.com/docs/5.1/testing#model-factories) for everything so people have have a full set of data from the start.

[2015-09-08 09:39] reesebiz commented on #20
@ameliaikeda I'm working on the pull request that I have open now and it's almost done. I'm using model factories for it too.

[2015-09-08 10:38] peppy commented on #29
Another case:

![](http://puu.sh/k43Zv/d0ebe764b5.png)

http://jizz.ppy.sh/forum/t/364888?start=4490864#forum-post-4490864

[2015-09-08 20:28] marcostudios opened #66 "Missing some flags image"
Missing the Netherlands Antilles flag (https://jizz.ppy.sh/images/flags/AN.png)

[2015-09-08 22:30] claudiodekker commented on #66
This is probably because the Netherlands Antilles does no longer officially exist as of 2010, and they each now have their own separate flag. To prevent issues, however, I've quickly mocked up a flag anyway, since most people still refer to it as the Netherlands Antilles anyway.

![na](https://cloud.githubusercontent.com/assets/1752195/9749066/ea8b0342-5689-11e5-813d-84d5fa6a8b91.png)

[2015-09-09 03:01] nanaya commented on #66
I did make a list at one point. I think only HK has been added afterwards. https://0paste.com/7382

[2015-09-10 08:13] pixeldesu commented on #61
I think this would be solved the easiest way with giving the users another variable in the `skin.ini` called `SkinVersion` or `Revision` or something alike. This then could be combined with...

...so people can just upload the new elements and change this _on-the-fly_, if they (for example) forget to change the version number in the skin.

[2015-09-10 12:48] peppy commented on #61
Versioning is most definitely planned to be part of the system.

[2015-09-11 04:08] PieInOblivion commented on #61
Am I correct in saying that if no VersionNumber is given, the client or server (when uploading) will auto assign one?

[2015-09-15 07:11] peppy commented on #45
Increasing bounty to 100 due to the final complexity of the implementation and awarding to @claudiodekker. Thanks for your contributions! We still need to hook up the implementation before pushing out to the release branch, but that should happen this week.

[2015-09-15 07:11] #45 closed

[2015-09-19 14:06] claudiodekker commented on #14
Tried to figure this one out, but I don't see any flawed code.
Perhaps it has something to do with Legacy Browsers?

I've personally tested this on the following browsers without issues (Platform: OSX):
- Google Chrome 45.0.2454.93
- Mozilla Firefox (Developer Edition) 42.0a2 (2015-09-13)

--

That said, for those wanting to troubleshoot this one, you can use the (partial) SQL dump posted by @pepp

[2015-09-19 16:24] Nicarim commented on #61
db01b8fe86c7e169f7582189762aad69dfe54738
Please check if I forgot about something.
Also there I'm not sure how should elements that have more than one frame (are animation) should be handled, any ideas?

[2015-09-20 10:41] PieInOblivion commented on #61
So eg: 'scorebar-colour-0' to 'scorebar-colour-10'
I would take it simple and just use the first 'Frame' of the animation and display that on the preview.
- OR -
Generate a GIF, detecting/counting how many frames there are max of any animation, and create the GIF accordingly. Perhaps with a limit of 'XXX' frames in the GIF in case someone trolls and creates a purposefully long animation to use lot

[2015-09-20 11:16] ameliaikeda commented on #61
@PieInOblivion bandwidth isn't really an issue for that to be honest. Just make the gif the same overall length in seconds.

[2015-09-20 11:22] Nicarim commented on #61
@ameliaikeda @PieInOblivion in old version of that site, there was javascript in place that iterated over every frame in <img> tag so it looked like it was animation.

[2015-09-21 08:04] pixeldesu opened #91 "Store: Back button is shown with no history present"
In the header of the osu!store, there's this back button...which, as you might think, should get you back to the frontpage of the store.

And well, it does, but only **if** you were on the frontpage before.

**If not**, the back button is still shown, but doesn't work as there is no history present you could jump back to.

Best way to reproducing this is visiting the store over [ppy's last blogpos

[2015-09-21 08:11] ameliaikeda commented on #91
This is a simple link to `javascript:history.back()`. Actually detecting if you can go back or not is [a bit of a tricky situation](https://stackoverflow.com/questions/3588315/how-to-check-if-the-user-can-go-back-in-browser-history-or-not) because browsers.

[2015-09-24 07:09] peppy opened #92 "Username change "0 more days" message"
As per [this report](https://osu.ppy.sh/forum/t/369681/start=0), username changes can show "0 more days" until available. Probably should show "1" in these cases.

Still waiting for more details to pinpoint when this occurs.

[2015-09-24 07:19] peppy commented on #92
=> Carbon\Carbon {
	     +"date": "2015-09-24 13:57:23.000000",
	     +"timezone_type": 3,
	     +"timezone": "UTC",
	   }

[2015-09-24 12:11] TheHowl commented on #92
wouldn't showing the remaining hours be better?

[2015-09-24 12:31] peppy commented on #92
and minutes and seconds?
and be realtime?
yeah, that would be cool, i guess.

[2015-09-24 18:28] VeilStar opened #94 "User card design: brightness & gradient"
Creating this issue after [these 2 comments](http://blog.ppy.sh/post/129636272043/20150922#comment-2268002150) on blog.ppy.sh.

There's 2 things I would like to be changed about the user card design.

1. Removing the gradient on it.
The reason is simply that it feels out of place on the new osu!web, as there are no gradients used anywhere else on the website (to my knowledge).

2. Making the darkn

[2015-09-24 18:40] VeilStar opened #95 "Profile cover transparent when not yet loaded"
If the profile cover image isn't loaded yet it will be completely transparent, showing the page background. This is most apparent when previewing profile covers.

Since it's not quite possible to make everything load instantly every time for everyone, I would like to propose having any grayscale colour (whichever feels best) below the profile cover so that it's not as ugly when this appears.

![os

[2015-09-25 07:02] abraker95 opened #96 "Per-thread user list"
Digged up an old request for the forum to have. Basically have it list the users browsing the specific thread along or instead of the list showing which users are browsing the forum section.
https://osu.ppy.sh/forum/t/32252

[2015-09-25 08:05] ameliaikeda commented on #94
You should probably take into account that black and grey are usually
whitewashed on crappy monitors, so maybe stick with the darker one since
it's easier to read.
On Thu, 24 Sep 2015 at 19:28, VeilStar <notifications@github.com> wrote:

[2015-09-25 09:39] #92 closed

[2015-09-28 05:11] peppy opened #97 "Flyte's Task List"
Comment on this thread if you have anything you need from flyte. I'll update the list.

- [x] MWC winner badges (1st 2nd 3rd).
- [x] Design placeholder cover art from cYsmix collab tracks.
- [ ] New profile pages need a section which shows all scores by user (recent ones first).
- [ ] fix D rank (non-comic sans)
- [ ] add support for other payment options to new store

@arflyte ask if unsure about

[2015-09-28 05:25] Tewki commented on #97
The status header background

[2015-09-28 15:34] abraker95 commented on #31
Going to just link this here: https://osu.ppy.sh/forum/t/354058

[2015-09-28 21:29] VeilStar commented on #94
I'd still like the gradient to be gone.
It could be darker than in the example I gave if readability becomes an issue.

Here's the same comparison with a pure white (RGB 255,255,255) profile cover as worst-case scenario.

![white_current](https://cloud.githubusercontent.com/assets/14024130/10149235/8ba4e802-6638-11e5-8827-cf909dcd70b9.png)

![white_proposed](https://cloud.githubusercontent.com/ass

[2015-09-28 21:36] RBRat3 commented on #94
Did you take my settings out for a test drive?
transparent linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.6) 100%) repeat scroll 0% 0%

[2015-09-29 04:52] VeilStar commented on #95
Commenting to say that this also affects the profile cover on the user card.

[2015-09-30 06:32] peppy opened #99 "Cover image upload spinner is ugly"
User reported.

![](http://puu.sh/kthfq/aee4555302.png)

Should probably use the standard loading animation.

[2015-10-02 16:37] TedTheRed opened #101 "Inccorect icon for achivement: Video Game Pack vol.2"
it seems that the icon for Video Game Pack vol.2 is replaced by the icon for Video Game Pack vol.1
![video game pack vol.1](http://puu.sh/kvXeW/2d34686a5d.jpg) ![video game pack vol.2](http://puu.sh/kvXgu/2ca1c8ebe4.jpg)

[2015-10-05 08:45] arflyte commented on #35
![status-header](https://cloud.githubusercontent.com/assets/3632750/10276181/c14334fa-6b88-11e5-8c2b-bdb31d1db264.jpg)
![status-header 2x](https://cloud.githubusercontent.com/assets/3632750/10276182/c163c01c-6b88-11e5-8233-36b24011444d.jpg)

Here are the headers. Sorry for the late, kinda missed this.

[2015-10-05 20:47] TheHowl commented on #35
As Tewki is out of the bounty maximum limit for completion, can I take over?

[2015-10-05 23:47] peppy commented on #35
Go for it! No need to ask.

[2015-10-06 15:15] Tewki commented on #35
Yea I've become rather inactive for the time and I'm missing my files due to a mess up with my laptop being lost in traveling, so given the old rewrite/prototype to Howl.

[2015-10-07 09:53] peppy commented on #14
I think we may have figured this out.

We had a few more cases recently and it would seem that (in the cases which were not user error) the addresses that were showing issues had been entered way back in 2014. This is so far back that it was before we basically rewrote the whole system, and as such there was probably a bug causing issues with saving the addresses.

The reason it was showing in new

[2015-10-07 12:28] troke12 commented on #35
just a little suggestion on Uptime Charts
i would recommend this chart using [Chart.js](http://chartjs.org)
![kmUs4iH](http://i.imgur.com/kmUs4iH.png)

[2015-10-08 01:19] Nightflyyer opened #108 "I have problems!"
I tried running this but i keep getting http://puu.sh/kCmcM/6a26689188.png and everything is working also i found out the VM is 64-bit and my PC doesn't support 64 bit os'es on Virtualbox it only uses 32-bit how could i use a 32-bit os on this!?

[2015-10-08 04:34] peppy opened #109 "Ability to change store orders from admin page"
Right now I'm making changes manually at a database level when a user requests an address or t-shirt design/size changes. We need the ability to edit orders from the admin page (/store/admin/).

Requirements:
- Ability to edit address.
- Ability to change product to another product of same value (different size/design) using a dropdown.
- Changes should be saved instantly.
- Should only be allowed

[2015-10-08 12:33] peppy opened #116 "Allow cover images to be dragged into a larger area"
This has happened to me way too many times: http://puu.sh/kCNBH/ace0ef22a6.mp4

**[Bounty](https://goo.gl/nFdoyI) offered**: 5

[2015-10-08 12:58] nanaya commented on #116
and make sure that it works with turbolinks and react to not emit any warnings :dancer:

[2015-10-08 15:25] nanaya commented on #108
see if you're running vmware or hyper-v as well since they can't be run at same time.

[2015-10-08 16:10] Pepperrika commented on #108
I don't use VMware i use virtualbox and my PC doesn't have hardware virtualization

[2015-10-08 16:25] TheHowl commented on #108
Try replacing the `config.vm.box_url` value to `"https://cloud-images.ubuntu.com/vagrant/vivid/current/vivid-server-cloudimg-i386-vagrant-disk1.box"`. Or you can also set it up manually by executing manually all the commands of the provision script so that it runs on your machine without setting up a virtual one, although that might require some work.

[2015-10-08 17:00] TheHowl commented on #35
Was wondering - as I am going to implement react on the page, shall I provide the user with some data already on the response (server renders the page and then user gets updated data through http request done by js), or shall I make it user-rendered since the beginning (like on the user profile)?

[2015-10-08 19:31] miterosan opened #121 "I can't get on my profile page."
If I try to go on my profilepage I get a error

http://jizz.ppy.sh/u/Miterosan

Error code: 894ad4018e42432ea371a24af30292c6

[2015-10-08 21:03] peppy commented on #35
Why would you require a second round-trip just to display data? Just include it in the initial request. So much faster.

[2015-10-08 21:35] Soinou commented on #30
Why not add a preview button that will pop up rendered markdown in something like bootstrap modals ?

Doesn't add anything to the page, you can still check your answer, and it's doable with only a bit of javascript.

[2015-10-09 11:37] nanaya commented on #101
Turns out I put in wrong data.

@peppy: slug for that achievement (id 12) needs fixing :D

[2015-10-09 11:43] peppy commented on #101
Done

[2015-10-09 11:43] #101 closed

[2015-10-09 12:18] nanaya commented on #108
running it will be slow then. Look into using plain apache setup but as mentioned, it's not quite easy.

[2015-10-10 01:57] #116 closed

[2015-10-10 02:04] #121 closed

[2015-10-10 21:07] LiquidPL opened #125 "User - Group relationship seems to be broken"
Disclaimer: I am a total Laravel noob ATM, so anything I say might be wrong.

While looking through the code, i noticed in App\Models\User.php:

[code]

and in App\Models\Group.php:

[code]

These method names suggest that this was meant to be a many-to-many relationship.

However, in [Laravel docs](http://laravel.com/docs/5.1/eloquent-relationships#many-to-many) it is stated that you need to impl

[2015-10-13 06:58] #125 closed

[2015-10-13 07:36] nanaya commented on #15
Added in #70.

[2015-10-13 07:36] #15 closed

[2015-10-13 07:37] #54 closed

[2015-10-13 12:50] #4 closed

[2015-10-14 20:30] ghost opened #134 "Display XH & SH ranks in user profile"
From this thread: https://osu.ppy.sh/forum/t/94891

[2015-10-14 22:41] claudiodekker opened #135 "Changing your profile banner on jizz results in empty error message"
As reported by [Granger] (https://jizz.ppy.sh/u/4265733) [on the forums] (https://jizz.ppy.sh/forum/t/375663):

![687474703a2f2f7075752e73682f6b4a5165682f383636353737646566342e706e67](https://cloud.githubusercontent.com/assets/1752195/10500315/805e0bbc-72d7-11e5-9c1b-1fd45f429034.png)

[The image mentioned (hosted at puu.sh, mirrored here on Github)] (http://puu.sh/kJQm2/fa3b4667ca.jpg):
![inappor

[2015-10-14 22:58] claudiodekker commented on #135
On quick inspection, this issue might have been solved quite directly after in 908eeb956bd6196f66d3353bf0eec476789debab.

If this happens to be the case, this issue can be considered resolved.

[2015-10-14 23:08] #135 closed

[2015-10-15 04:26] sirthebk opened #136 "Name of Peripherals in the top of the profile"
Hello, the idea that I come to propose, is to see that model, make and type of peripherals using profile by mousing peripheral certain names.

It is that in the construction of the new design, so avoid down, having to open container box profile, and you save enough to see what kind of hardware you use tap or pointing the user in question.

Well that.

If I do not stay clear, I leave this banal con

[2015-10-15 04:34] arflyte commented on #136
![screen](https://cloud.githubusercontent.com/assets/3632750/10504876/5f4ec12c-7341-11e5-995d-c9196296cacf.jpg)

We already have something in mind.

[2015-10-15 04:37] sirthebk opened #137 "Notifications in the web"
there is a way to find you graphically forum responded by notification in your profile. or something, to not have to walk reviewing the forum every so often, it would save time, not.

[2015-10-15 04:40] peppy commented on #137
Please don't suggest new features here. We have a lot planned - including notifications - which has not been completed yet, but making issues for each of these doesn't make sense.

[2015-10-15 04:40] #137 closed

[2015-10-15 04:41] peppy commented on #136
Closing this for now. Feature requests aren't necessary. Will try and form this into a bounty if you are actually interested in helping implement it (please reply if this is the case).

[2015-10-15 04:41] #136 closed

[2015-10-15 04:45] sirthebk commented on #137
I understand , thank you for taking the time to read the proposed mine ... good luck with the new functions and features.

[2015-10-16 03:34] peppy opened #142 "Silenced users should not be able to post/edit user page."
Was [reported](https://twitter.com/meeowxi/status/6547603212449873920 that silenced users can still edit user pages.

Old site has this condition on all posting attempts:

![](http://puu.sh/kLUOv/8a8ded34a3.png)

[2015-10-18 03:23] peppy opened #149 "Jump To post never loads when called multiple times"
Jump to the same post twice and you'll get an infinite loading screen.

Also, the jump-to vertical alignment feels too high. It places you above the post you requested rather than centering it.

[2015-10-18 05:32] VeilStar opened #150 "Scrolling a page when a pop-up (usercard) is open works with keyboard but not with scroll wheel (mouse)"
Short video of the issue: https://www.youtube.com/watch?v=mG3TGplktHE

When a pop-up such as the usercard is open the scroll bar dissapears and you're unable to scroll using the mouse scroll wheel, but you're still able to scroll the page using your keyboard, such as with the arrow keys, page up, page down, and the spacebar.

Also, if you scroll down and then close the pop-up/usercard by clicking

[2015-10-18 06:56] TheHowl commented on #150
this happens only on firefox. So probably there's already a function that prevents this on webkit browsers, but that isn't yet supported on gecko browsers.

[2015-10-18 08:32] VeilStar commented on #150
I should have checked that, but it seems you're right.
(I'm starting to have many reasons to switch my primary browser lately...)

[2015-10-18 08:46] nanaya commented on #150
for what it's worth, you can middle-click the window to enter free scroll mode and scroll the page even in chrome.

[2015-10-18 08:48] nanaya commented on #150
"middle click" is done using mouse's third button, usually doubles as wheel scroll. ~~If you don't have one, well, sucks to be you =]~~

[2015-10-18 10:33] TheHowl commented on #150
Can't replicate on latest chrome canary using middle click (http://y.zxq.co/yjyxud.webm).

[2015-10-18 12:08] nanaya commented on #150
wow, it's fixed indeed. That was unexpected.

[2015-10-19 12:15] codevirtuel commented on #108
Hey! i have the same problem ( default: Warning: connection timeout. Retrying... )
I already replace the "config.vm.box_url" but this doesn't work...

[2015-10-19 12:29] codevirtuel opened #154 "ERROR : default: Warning: Connection timeout. Retrying..."
Hey !

I got this error (default: Warning: Connection timeout. Retrying...) also this message :

Timed out while waiting for the machine to boot. This means that
Vagrant was unable to communicate with the guest machine within
the configured ("config.vm.boot_timeout" value) time period.

If you look above, you should be able to see the error(s) that
Vagrant had when attempting to connect to the mac

[2015-10-20 02:01] peppy commented on #14
This is still happening. Had two orders with street name missing (but number present)

[code]

[code]

:confused:

[2015-10-20 02:05] peppy opened #155 "Forum style changes"
Following changes need to be made:

* Change post/userpage editor to monospace.
* Change forum post font size to 12pt.
* Remove animation on spoiler display (it performs shockingly).

**[Bounty](https://goo.gl/nFdoyI) offered**: 5

[2015-10-20 08:58] VeilStar commented on #29
Posting this as it might be useful.

If you open the "List of Confirmed Threads by Category" in this thread https://jizz.ppy.sh/forum/t/338103. It's a spaghetti mess while it's fine on the old forum. https://osu.ppy.sh/forum/t/338103. There is nothing wrong with the way the bbcode is used in that post as far as I'm aware.

Also leaving these screenshots here as examples of when these issues happen

[2015-10-20 09:12] nanaya commented on #29
no, it isn't valid. You're not supposed to put runaway content (item without preceding `[*]`) in a list. The reason it seemed to work is because that's the way html works: it tries its best making sense out of whatever crap it's gotten. Also known as [tag soup](https://en.wikipedia.org/wiki/Tag_soup).

[code]

Make it like this

[code]

[2015-10-20 11:03] nanaya commented on #142
is it basically a silenced user can only view stuff?

[2015-10-20 11:04] peppy commented on #142
Yep, they shouldn't be able to post/comment/bitch.

[2015-10-20 11:05] nanaya commented on #142
but can they buy stuff

[2015-10-20 11:07] peppy commented on #142
yeah

[2015-10-20 17:05] TheHowl commented on #154
If you go to the virtualbox GUI while doing `vagrant up`, do you see the osu-web machine as booting?

[2015-10-20 18:10] codevirtuel commented on #154
It seems to not booting :|
![mdrdld](https://cloud.githubusercontent.com/assets/12038808/10616659/7f731074-7766-11e5-96ad-62c75e7db57e.PNG)

[2015-10-21 07:19] #155 closed

[2015-10-21 21:39] VeilStar opened #158 "Rename the "Edit" button to "Save" when editing a post."
When editing a post you have 2 buttons at the bottom right: "Cancel" and "Edit". Wouldn't it be better for it to be named either Save or Apply? It seems a bit odd for it to be named Edit when you're already editing the post and the button applies your changes to the post. Also,  the button is named Save when editing your userpage/me! section.

![rtyhtgfr](https://cloud.githubusercontent.com/assets

[2015-10-25 04:11] VeilStar opened #160 "Issue tracking icon placement in mobile view"
These issue tracking icons (confirmed | assigned | resolved | added | invalid | duplicate) would probably be better off sitting elsewhere, such as on the same line as the thread title. I don't exactly have an ideal solution for this, but right now it just looks out of place.

![ss 2015-10-25 at 05 05 09](https://cloud.githubusercontent.com/assets/14024130/10714006/12fbe81c-7ad6-11e5-9650-921bcf6e8

[2015-10-25 18:38] VeilStar opened #161 "Internet Pack Vol 2 achievement image is incorrect"
https://osu.ppy.sh/forum/t/379219
Internet! Pack Vol 2. achievement image isn't correct on the profile achievement list.
The Internet! Pack Vol. 2 shows it as Vol. 1
![01](https://cloud.githubusercontent.com/assets/14024130/10717158/cd90d286-7b4f-11e5-8a59-425298e53598.jpg)
And the other one is the actual Vol. 1
![02](https://cloud.githubusercontent.com/assets/14024130/10717159/d103a60a-7b4f-11e5-

[2015-10-25 22:51] VeilStar opened #162 "& character parsing issue in recent activity"
~~Spamming this issues list because you might aswell have issues listed.~~

![aaaaaaaaa](https://cloud.githubusercontent.com/assets/14024130/10718449/0e0d876e-7b73-11e5-8d64-fc000d998528.jpg)

[2015-10-26 06:19] #162 closed

[2015-10-26 11:57] #149 closed

[2015-10-27 00:24] abraker95 opened #169 "Scrolling up to logout"
I know you can click on a link to the thread listing and logout then, but I feel it is a bit stupid to keep scrolling up to get the top bar to appear so I can logout while in a topic.

[2015-10-27 00:25] peppy commented on #169
The design is still not finalised. Getting to the header is one of the issues we already have a solution for.

[2015-10-27 00:25] #169 closed

[2015-10-29 05:30] peppy opened #171 "Current page should be the post in the centre of the viewport"
Currently the page number is taken from the page which is intersecting the top of the viewport, when I think it would be more natural for closer to the centre. Should be applied to permalinks too.

[2015-10-29 05:31] peppy opened #172 "User card appears too slow"
Feels like the page fade and the user card fade are being done synchronously.

[2015-10-29 05:37] nekodex opened #173 "Display notice when user can't reply to a thread in forum"
A brief notice/explanation would be nice instead of just hiding the reply box

[2015-10-29 05:43] nekodex opened #174 "Unable to "finish" reading a thread"
When you reach the bottom of a thread, the progress bar at the bottom may not be full if the last post is too far down the page

(potentially resolvable via a fix to #171)

[2015-10-29 06:06] peppy opened #175 "Header icon is misaligned on MobileSafari"
![](http://puu.sh/l1F3V/19de3be65a.png)

[2015-10-29 06:07] peppy opened #176 "Login dialog doesn't fit on mobile browser"
![](http://puu.sh/l1F5u/5e4506262d.png)

[2015-10-29 07:48] #175 closed

[2015-10-29 07:48] #176 closed

[2015-10-29 09:58] #171 closed

[2015-10-29 09:58] #174 closed

[2015-10-29 10:04] #142 closed

[2015-10-30 05:12] nekodex opened #180 "Don't show 'osu!supporter required' notice when already a supporter"
On user profile page:
![](https://puu.sh/l2RQU/b26c869395.png)

[2015-10-30 13:54] echojc commented on #109
I'm gonna give this a shot.

@peppy I'd be grateful if you could take a look at the current state of my PR and tell me if I'm on the right track style- and architecture-wise since it's my first time working with such a heavily ORM-based framework!

[2015-11-03 01:47] peppy opened #193 "NaN weirdness"
see [video](http://puu.sh/l7ns1/3b6e60aaf3.mp4)

[2015-11-03 04:19] #193 closed

[2015-11-03 05:37] #158 closed

[2015-11-03 06:12] echojc commented on #109
Should editing the address save to the same row or create a new row? I can see use cases for both ("I entered my address wrong" and "send this order to this other address").

[2015-11-04 02:48] peppy opened #201 "Hide post title placeholder text after click"
![](http://puu.sh/l8CQL/b72eefb1f9.png)

I don't think it makes too much sense to leave this text visible after the mouse cursor has been placed. See [video](http://puu.sh/l8CP3/39e262fd58.mp4) for reference

[2015-11-12 23:36] peppy opened #213 "Issues with mobile forums"
- Only way to access the new [top menu](http://puu.sh/ljota/aab0194c31.png) is to hold down finger. I think it should be tap to toggle on and off instead.
- Login box [displays off-screen](http://puu.sh/ljouY/c1f8bf3ebf.png) when you try and type into it.
- Zoom still behaves weirdly after typing into a textbox.

All reported from safari ios9.

[2015-11-14 08:41] avail opened #216 "Unable to see own profile page when restricted"
Would still be nice to be able to see one's own profile page, even when restricted.

[2015-11-16 04:22] peppy opened #217 "Don't show full header when still loading more thread content."
When scrolling up quickly (or hitting home) in a long thread, you briefly see a flash of the "full" header before it loads the extra content in. Instead of this, we should hide the main header and always show the compact (black) header in these cases.

https://puu.sh/lnfAM/9dad1c678e.mp4

[2015-11-18 09:20] peppy opened #220 "Make page descriptions more descriptive"
At the moment it's pretty generic.

![](https://puu.sh/lpMqF/04751e041d.png)

Old site for reference:

![](https://puu.sh/lpMtb/9c4ff9d9b0.png)

[2015-11-18 09:21] peppy opened #221 "Add thread cover image to compact header"
Low opacity version of cover image should be displayed over the docked (fixed) header. Needs experimentation as for how opaque it should be and whether it actually works at all.

[2015-11-18 09:23] peppy opened #222 "Don't show full header when scrolling up during deep thread exploration"
Avoid the full header being visible when scrolling to the "top" of the page (and waiting for more posts to load in). The compact version should be displayed in this case.

Example of current behaviour: https://puu.sh/lpMy9/582e72a0fc.mp4

Should probably consider updating the compact header design (https://github.com/ppy/osu-web/issues/221) before doing this.

[2015-11-18 09:37] peppy commented on #99
Should be fixed by https://github.com/ppy/osu-web/pull/223.

[2015-11-18 09:37] #99 closed

[2015-11-18 10:03] nanaya opened #225 "Notify/load new posts when viewing end of topic"
Would be nice if checking for new posts doesn't involve reloading the page.

[2015-11-19 01:51] abraker95 opened #226 "Forum cover crops when window width is smaller"
Made a forum cover for my feature request, but it was designed in mind that all of it should be shown.
http://new.ppy.sh/forum/t/386058

[2015-11-19 01:52] peppy commented on #226
Please design around the assumption that not all is visible. If you want something to be always visible, include as an image in the post.

[2015-11-19 02:01] nekodex opened #227 "Forum threads are... special... in Safari (OSX)"
![](http://puu.sh/lqDy7/54b9145e34.png)
 ヽ( ⊙___ゝ⊙ )ノ

[2015-11-19 03:10] nanaya commented on #227
looks great

[2015-11-19 05:44] #227 closed

[2015-11-25 12:43] #222 closed

[2015-11-27 01:39] Lemmmy commented on #220
Adding onto this, opengraph should be used where possible. For example, forum threads could have the covers as an `og:image`, profiles the profile picture etc.

Also, for beatmaps:
`og:title` should be `Artist - Title [Difficulty] (mapped by Mapper)`
`og:description` should contain some information about the map like its length, BPM, stats
`og:image` the map thumbnail
`og:type` could be `music.son

[2015-11-28 18:22] ErunamoJAZZ opened #241 "Textarea is very large in mobile browsers."
Hello, I think textarea for new post looks very long in small screens.

![tmp_5434-screenshot_2015-11-28-13-06-291755891909](https://cloud.githubusercontent.com/assets/421398/11453283/f40fee2c-95d2-11e5-86ae-7fe861e3df15.png)

Thanks n.n

[2015-11-29 15:09] peppy opened #242 "logging in by submitting a post doesn't dismiss the login dialog"
If you post as guest and complete login by clicking the "Post" button, the login dialog will not disappear, even though your new post successfully appears in the background.

![](https://puu.sh/lCU6P/aa2ba502cb.png)

[2015-11-29 15:15] nanaya commented on #242
oh, I see. Since the other post-login actions completely change page whereas this one is just modifying the page, I didn't realize the login button doesn't close the modal (and then the avatar in reply box is wrong as well).

[2015-11-30 08:53] #242 closed

[2015-11-30 16:59] abraker95 opened #246 "Some images have wrong dimensions"
https://new.ppy.sh/forum/t/372346?start=4662680

[2015-11-30 17:03] nanaya commented on #246
That's unfortunate but once an image is used in a post, the image dimensions will stay for a while even though the image itself is changed.

[2015-11-30 17:04] abraker95 commented on #246
https://osu.ppy.sh/forum/p/4662680
But it looks perfectly fine on the old forums. Maybe I'm not understanding what you meant?

[2015-11-30 17:06] nanaya commented on #246
yes, it only applies in new forum. Try changing the url slightly by, for example, adding a trailing question mark.

[2015-11-30 17:11] abraker95 commented on #246
Adding a trialing question mark did the job! Why isn't this done automatically?

[2015-11-30 17:12] nanaya commented on #246
because otherwise loading posts will take ages since it needs to get image dimensions first.

[2015-11-30 17:15] abraker95 commented on #246
I'm pretty sure some people will run into a similar issue when using the new forums in the future. Perhaps a warning telling them that the image size may be wrong given the URL? Or is there no way to detect that?

If not or it will slow down the loading, perhaps a general announcement then?

[2015-11-30 17:16] nanaya commented on #246
it'll only be wrong if the image is changed after initially posted (reupload etc).

[2015-11-30 17:18] abraker95 commented on #246
That image is a screenshot from osu! How do you go about modifying or reuploading that?

[2015-11-30 17:18] VeilStar commented on #246
Just curious more than anything, but wouldn't it be possible to compare image dimensions (see if the dimensions are still the same) when someone edits a post and is about to save it, and update it that way?

[2015-11-30 17:19] abraker95 commented on #246
That post was never edited either

[2015-11-30 17:23] nanaya commented on #246
the image is hosted somewhere, and that exact image is then changed. The dimensions will be eventually correct after the cache expires.

[2015-11-30 17:39] VeilStar commented on #246
Oh, I misunderstood. My bad.

[2015-12-01 11:15] peppy opened #251 "osu!web to-do list"
A top-level overview of what is left to be completed for the new osu!web. Still a WIP, which means there's stuff to add which hasn't been added, but also potentially out-of-date items which need to be updated.

While this issue will exist for now, I plan on exploding each of these tasks into individual issues, so we can tackle (and discuss) them in a more optimal manner.
## Player Quick Info
## Li

[2015-12-02 19:17] MasterBugPatch commented on #251
The Wiki Floating Navigation and Content could be marked as completed, https://github.com/ppy/osu-web/pull/60 with just finalizations needed.

[2015-12-05 13:27] lunafreya commented on #251
New topic button on forums missing, better add it to the list

[2015-12-11 23:06] HoutarouOreki opened #268 "BBCode not always working on new website"
![687474703a2f2f692e696d6775722e636f6d2f65337876395a342e706e67](https://cloud.githubusercontent.com/assets/16261733/11757722/063c13e6-a064-11e5-8892-8f7b527eef19.png)

Things like [notice] and [color] work most of the time, but not always when posting from new website.

[2015-12-12 01:41] nanaya commented on #268
mind posting the raw bbcode?

[2015-12-12 10:19] HoutarouOreki commented on #268
`[notice][box=Setup][list][*]Keyboard: TITANUM RANGER (TK105) [Membrane]
[*]Mouse: Tracer Recon[/list][/box]
[box=Settings][list][*]DPI: [color=#FFBF00]1500[/color]
[*]Polling Rate: [color=#FF8040]1000Hz[/color]
[*]In-game Sensitivity: [color=#0080FF]0.8x
[/color][*]Raw input: [color=#00BF00]ON[/color]
[*]Resolution: [color=#00BF00]1360x768 Fullscreen[/color][/list][/box][/notice]`

[2015-12-12 10:32] nanaya commented on #268
what's the full message? I couldn't reproduce it with just that :S (both from old and new site)

[2015-12-12 10:46] HoutarouOreki commented on #268
I'm new here, how do I make this look like it should? ;-;

` [centre][img]https://i.ppy.sh/556ca5e9de664bec8fb6c2c91feb5f66f7146c58/687474703a2f2f7075752e73682f6a446c587a2f303862323838393261332e706e67[/img][/centre]

[notice][box=Links][list][*][url=https://www.youtube.com/channel/UCbZZQBHjMYJARCM42j4bIMQ]YouTube[/url]
[*][url=http://myanimelist.net/animelist/HoutarOsu]MyAnimeList[/url][/list][/bo

[2015-12-12 10:50] nanaya commented on #268
start and end with <code>```</code>

[code]

[2015-12-12 10:53] nanaya commented on #268
also, if the problem only happens when `color` and `b` are used across multiple lines, well, it's currently not supported :(

[2015-12-12 10:58] HoutarouOreki commented on #268
Oh, so that's the thing. But at least there's a way around :v
[code]

[2015-12-16 11:05] Dontmakemeeatyou opened #271 "Emails break when you edit a post which contains an email address."
If you have an email address in a post, *example - accounts@ppy.sh* and then you edit that post. It turns into a big jumbled mess, Like this.
![](http://i.imgur.com/RR2SbC2.png)

Saving the edited post will keep the email address like that until you edit it, and re-type it.

[2015-12-17 06:02] #271 closed

[2016-01-11 09:55] MasterBugPatch opened #287 "Just some spelling mistakes in products"
I was looking at the products and noticed a couple spelling mistakes,

- "auxillary" should be "auxiliary" in the Osu Keyboard Product
- "iphone" should be "iPhone" in all of the phone cases products.

That's all I noticed by looking, but I didn't search widely for them so it may or may not have more.

[2016-01-11 13:28] sandycorzeta opened #288 "Providing a Local Translation"
Hey, i see some of your folder structures on resources/lang there is a country code based folder that has a content a full of php files filled with string array.... are those string available to be translated? i would likely to help to translate it on my local language. Thanks :D

[2016-01-11 16:01] MasterBugPatch commented on #288
I believe that's what it's for, considering in many places code wise it uses Lang.get("directory"), here and returns the English message.

[2016-01-11 17:05] marcostudios commented on #288
on the osu!localization page (https://docs.google.com/spreadsheets/d/1CFtMJZenkF9LZ_uji57GTDdkKGL78H-aVKKb1YC3GxQ/edit#gid=24) there's the web tab, i think when the osu!next website is done you can translate there

[2016-01-12 22:35] marcostudios opened #290 "Banned users have the wrong join date"
On the forum, banned users have "here since the beginning"

![Example](http://y.zxq.co/xuojku.png)

I think it should be hidden in this case

[2016-01-13 05:52] #290 closed

[2016-01-14 04:47] abraker95 opened #293 "Post count is bugged"
Upon posting in the new forums, players in off-topic found out that their off-topic posts are now counted. Not sure if this is intentional.
https://osu.ppy.sh/forum/t/408157/start=0

[2016-01-14 06:54] nanaya commented on #293
Thanks for the information. It's indeed a bug.

[2016-01-17 13:01] #293 closed

[2016-01-18 09:43] nicholastay opened #295 "Top Ranks displaying NC,DT when NC is used"
Just a small bug: In the Top Ranks section of a user profile, whenever a player has used Nightcore on a play, the mods used are shown as +DT,NC instead of just +NC.

Image of behavior: https://i.imgur.com/NIvx4ZO.png

[2016-01-19 04:27] #295 closed

[2016-01-21 10:10] peppy commented on #109
I ended up doing this myself, so closing the issue.

[2016-01-21 10:10] #109 closed

[2016-01-21 10:10] peppy commented on #97
yawn

[2016-01-21 10:10] #97 closed

[2016-01-22 09:43] abraker95 opened #301 "Title for tournament page runs off screen in mobile"
http://i.imgur.com/jnkunCX.png

[2016-01-22 09:51] abraker95 commented on #301
Tested on android: firefox and chrome

[2016-01-23 19:48] Nicarim opened #305 "Tournaments Management Panel"
![Prototype](http://bit.ly/1PqfNEG)

I'm in need of solutions to solve these problems:
- Information about current state of lobby including:
  - [ ] GET List of players on each side - the best would be ordered by slots
  - [ ] GET Currently selected map
  - [ ] POST Ability to move player to whatever slot needed
  - [ ] POST Ability to change current map
  - [ ] POST Ability to kick player out of

[2016-01-25 10:01] #301 closed

[2016-01-26 15:27] lunafreya opened #313 "Beatmap box doesn't look correct for mobile"
![screenshot_2016-01-26-23-19-25](https://cloud.githubusercontent.com/assets/15260566/12584722/ce0e6aca-c483-11e5-8128-ae86fc883960.png)

![screenshot_2016-01-31-21-38-56](https://cloud.githubusercontent.com/assets/15260566/12702418/a15ff6ae-c863-11e5-90dd-4b1bb5dcab63.png)

Why not make the columns look proper both on desktop and mobile?

[2016-01-28 16:13] lunafreya opened #316 "Profile country/global ranking indicator text overlap on mobile (especially on small screens)"
![screenshot_2016-01-29-00-07-49](https://cloud.githubusercontent.com/assets/15260566/12650164/b1740330-c61c-11e5-9498-27c3e17032a2.png)

Some screens could also have the text overlap when viewed, especially on my Flare S3 Octa's small 720p screen.

[2016-02-03 02:25] NythilN1k0 opened #327 "New nightcore@2x.png icon is the new easy@2x icon"
[https://github.com/ppy/osu-web/blob/master/public/images/badges/mods/nightcore%402x.png](url) Hopefully the title is self explanatory enough but, the new higher resolution nightcore icon is in fact, the @2x easy icon. Hopefully the proper icon can be uploaded.
![nightcore 2x](https://cloud.githubusercontent.com/assets/17037521/12771008/1ad86560-c9eb-11e5-9bb9-c27fdba133eb.png)

[2016-02-04 10:00] lunafreya commented on #251
Stream list and (some) profile sections are now complete, @peppy. Check them off.

[2016-02-04 10:02] peppy commented on #251
updated some items.

[2016-02-04 12:45] nanaya commented on #327
fixed

[2016-02-04 12:45] #327 closed

[2016-02-04 13:20] Heinzen commented on #30
What are browser supports required for this one?

[2016-02-04 13:29] peppy commented on #30
latest chrome and firefox are a must, IE is always nice where possible. mobile browsers should be checked too, although functionality like this could be restricted to desktop if space becomes an issue.

[2016-02-05 00:26] Lemmmy opened #333 "Beatmap listing text is a little small"
This isn't wildly critical, but the text for the filters in the beatmap listing is just 1pt or 2pt too small, making it a bit hard to read.

![](http://ichi.lemmmy.pw/vinyl_affiliates.png)

[2016-02-08 04:52] peppy commented on #287
Fixed both of these; thanks for pointing out.

[2016-02-08 04:52] #287 closed

[2016-02-09 02:28] peppy opened #338 "Let's show more difficulty icons."
![](https://puu.sh/n13Hj/a18554acb8.png)

This looks plain silly and doesn't allow users to get the details they want. We should show how many we can fit and then use the "+n" for any more that can't fit.

[2016-02-09 06:10] peppy opened #340 "Profiles: Ability to re-order sections."
Need to add drag and drop support to reorder sections in your own user profile. The order should be saved to database so it is used whenever viewing your profile (as yourself or someone else).

![](https://puu.sh/n1fmV/7b1613e3d0.png)

Each section should have a "hamburger" button that can be used to begin the drag. While being dragged, it should be very obvious that the section is being dragged,

[2016-02-09 06:14] peppy commented on #30
Increased bounty to 250. Highly recommend implementing a tabbed approach to start with.

[2016-02-09 06:16] peppy commented on #172
**[Bounty](https://goo.gl/nFdoyI) offered**: 50

to make the fade and slide-in happen at the same time rather than one after each other

![](https://puu.sh/n1fPY/03ea9e5e61.gif)

[2016-02-09 06:17] peppy commented on #316
@arflyte need a solution for this

[2016-02-09 06:36] #226 closed

[2016-02-09 06:36] #246 closed

[2016-02-09 06:40] peppy commented on #160
Feels like it should be right aligned instead, if anything. @arflyte ?

[2016-02-09 06:41] peppy commented on #150
Going to close this as a browser-specific quirk which doesn't necessarily need to be fixed.

[2016-02-09 06:41] #150 closed

[2016-02-09 06:42] #108 closed

[2016-02-09 06:42] peppy commented on #161
This should now be resolved.

[2016-02-09 06:42] #161 closed

[2016-02-09 07:12] peppy commented on #96
I don't see this coming back for the time being. Maybe once we finish implementing everything we can experiment with more real-time stuff.

[2016-02-09 07:12] #96 closed

[2016-02-09 07:14] peppy commented on #94
@arflyte you okay with reducing or removing the gradient? i also feel like the current one is too dark.

[2016-02-09 07:18] arflyte commented on #94
Yeah, I'm fine with removing the gradient.

[2016-02-09 07:19] arflyte commented on #316
Will look into this.

[2016-02-09 07:58] #180 closed

[2016-02-09 12:17] ErinvanderVeen commented on #172
Did you happen to mean a bounty of 5 rather than 50? 50 seems quite high.

[2016-02-09 12:18] peppy commented on #172
I did not. I'm increasing bounties to get more people involved in this project. Factoring in the effort required to get started with the project too (learn the framework/layout of the system).

Expect to see more "higher than expected" bounties pop up.

[2016-02-09 12:19] ErinvanderVeen commented on #172
Ahh, makes sense. I hope it works out.

[2016-02-09 12:50] peppy opened #343 "Implement supporter page design"
This bounty is for the complete implementation of the supporter page design. This one is a good task for people who don't want to involve themselves with the back-end, as it's mostly just css/template design.

- Each of the "why" and "what" items should be localisable and extensible (ie. we should be able to add more and change them easily).
- The triangles in the PSD are outdated. Please use the

[2016-02-09 13:03] peppy commented on #35
Increasing bounty on this to 350 (+150)

[2016-02-09 16:33] UnnoTed commented on #343
ill do it

[2016-02-09 21:07] RagnarLaud commented on #343
I'm gonna give it a shot

[2016-02-09 21:10] nyquillerium opened #345 ""Historical" never hi-lights on profiles because you cannot scroll past the start of it."
![Issue](http://nyquill.s-ul.eu/HlPOKLGC)

This is about as far as I can get for me. Maybe give the list of beat-maps one extra item?

[2016-02-10 03:38] 0----0 commented on #340
Giving this a try.  I'll let you know how it goes.

[2016-02-10 03:58] peppy commented on #345
This needs an offset similar to what we're doing in forums (should become the active tab when above 50% height in your browser).

[2016-02-10 12:35] #94 closed

[2016-02-10 17:17] CMS-Falcon commented on #340
Gonna take a crack at this as well. Probably won't have much till the weekend.

[2016-02-10 19:47] peppy commented on #345
**[Bounty](https://goo.gl/nFdoyI) offered**: 30

[2016-02-10 19:48] peppy opened #349 "Rank History graph shows incorrect information for some users"
![](https://puu.sh/n359y/78e2df13b9.png)

http://new.ppy.sh/u/7457788

- Scale is incorrect and less useful than the previous site.
- Data is being shown from before the user was ranked or even registered.

[2016-02-10 19:52] peppy opened #350 "Rank History graph x-axis less useful?"
![](https://puu.sh/n35Cp/5452a0ed8e.png)

Personally I find the old style of "x days ago" much easier for my brain to parse. Opinions?

ping @arflyte too

[2016-02-10 19:53] peppy commented on #349
should probably be logarithmic y-axis too, else [this kind of thing](https://puu.sh/n35Cp/5452a0ed8e.png) happens.

[2016-02-10 21:35] nyquillerium commented on #345
should this behavior apply to all tabs or just the last one?

[2016-02-10 21:53] nyquillerium commented on #345
the addition of the rank history graph seems to have resolved this as a side effect

[2016-02-10 23:33] vowywowy commented on #350
I would agree, and I think the current new.ppy.sh x-axis looks too dense. Maybe have a tool tip on hover of "x-days ago" with the date its referencing?

[2016-02-10 23:48] VeilStar commented on #350
I also find "x days ago" better than an actual date.

Also, wouldn't every 2 weeks or every month be a better interval than every week? It just feels rather cluttered with that short of an interval. I feel that a more precise timestamp in the tooltip as it is on the current/old website is the better option.

This isn't exactly related to this issue, but the vertical lines don't show up in Firefox,

[2016-02-11 03:29] peppy opened #353 "Profile: rankHistories being undefined causes page to stop working"
See [my profile](http://new.ppy.sh/u/peppy) as an example.

![](https://puu.sh/n3yUp/ed0d55f1a2.png)

[2016-02-11 03:37] peppy commented on #350
As another note (might as well keep  it in this issue), the padding to the left seems way too large:

![](https://puu.sh/n3ziY/06d6900f2c.png)

[2016-02-11 16:51] #172 closed

[2016-02-11 16:52] peppy commented on #172
@Bobo1239 congratulations on your 50 bounty for this! let me know via email if you would like to redeem it at any point (pe@ppy.sh).

[2016-02-11 17:03] peppy commented on #345
I wouldn't call this fixed with that commit alone.

![](https://puu.sh/n48aw/e5dfdbca81.png)

[2016-02-12 02:18] peppy commented on #343
Awarding the bounty here to @UnnoTed as his implementation is basically complete. Nice job :+1:.

[2016-02-12 02:18] #343 closed

[2016-02-12 05:42] UnnoTed commented on #35
i'll do it

[2016-02-12 05:44] peppy commented on #35
There's some degree of work done with d3 in the profile (rank history) graph now, so make sure to check that out for the graph parts.

[2016-02-15 06:03] peppy opened #361 "Store stock levels for products with master products"
Products which have master products where the master product's stock is zero show "out of stock" when they shouldn't (see osu!keyboards [on the store](http://store.ppy.sh/store/listing) right now).

![](https://puu.sh/n8vaF/4335b7549f.png)
^ should not show "out of stock" because

![](https://puu.sh/n8vbX/fd70f36b84.png)
^ many varieties are still in stock

The stock check at this level should che

[2016-02-15 06:10] peppy opened #362 "Store "out of stock" items should be at the bottom of the store listing"
Products which have no stock should have their item ordering (specified at database) ignored and be forced the the bottom of the store, out of the way.

**[Bounty](https://goo.gl/nFdoyI) offered**: 20

As always, ask if you have any questions, and feel free to jump on the [osu!dev slack](http://osu.ppy.sh/p/slack) for more real-time discussion.

[2016-02-15 06:16] nanaya commented on #361
this seems to work https://0paste.com/8252-64835e9f.txt

*goes back to chart

[2016-02-15 08:27] peppy commented on #361
wanna PR that?

[2016-02-15 12:29] peppy commented on #362
Resolved by https://github.com/ppy/osu-web/pull/363.

[2016-02-15 12:29] #362 closed

[2016-02-15 12:29] peppy commented on #361
Resolved by https://github.com/ppy/osu-web/pull/363.

[2016-02-15 12:29] #361 closed

[2016-02-15 13:35] Hughp135 opened #365 "Local setup issues (SQL tables not found, etc)"
Hi, noob question here (hope this is the right place to ask) but after using vagrant up I am unable to view some parts of the site due to the tables not being found (i.e. 'osu_genres' table not found). The following screenshot is from /beatmaps. Other pages like user profiles are working.

<img width="700" alt="screen shot 2016-02-15 at 13 25 32" src="https://cloud.githubusercontent.com/assets/126

[2016-02-15 13:50] Bobo1239 commented on #365
For now you can just add
[code]
to `db-osu-structure.sql` and repopulate the DB or execute it directly. (e.g. over [Adminer](https://www.adminer.org/))

[2016-02-15 13:54] peppy commented on #365
Here's the full data:

[code]

[2016-02-15 14:00] Hughp135 commented on #365
Thanks.

[2016-02-15 14:08] Hughp135 commented on #365
P.S. Shouldn't the structure sql file be updated so that other people don't have this issue in the future? Want me to add it in?

[2016-02-15 15:11] #365 closed

[2016-02-15 23:09] Hughp135 commented on #20
As someone wanting to help out on this project, some sample data would be really useful to start out with. Even if it's just a DB export with some sample users/beatmaps/score data that would be extremely helpful.

Has anyone finished implementing model factories / the seeder yet? I'd be willing to make these if I could get some sample data. @ameliaikeda  @reesebiz

[2016-02-15 23:32] peppy commented on #20
I'll go out on a limb and say it hasn't been done yet.

I'll see what I can do with some data export. I'll presume you just need a few rows from each table to understand the format?

[2016-02-15 23:34] Hughp135 commented on #20
Yeah that would be ideal. Thanks.

[2016-02-16 02:27] Hatsuney commented on #353
fixed in 3c10cb4d05fa93cf7af00ed32c49823e7f4bbe4d?

[2016-02-16 02:27] peppy commented on #353
yep

[2016-02-16 02:27] #353 closed

[2016-02-16 10:46] nanaya commented on #349
fixed

[2016-02-16 10:46] #349 closed

[2016-02-16 10:46] nanaya commented on #345
updated the marker position

[2016-02-16 10:46] #345 closed

[2016-02-16 10:48] nanaya commented on #241
I believe this has been fixed by having a fullscreen button and smaller textbox

[2016-02-16 10:48] #241 closed

[2016-02-16 11:38] nanaya commented on #201
fixed in 073a009dd2dd68efb805fb9da555e7ade4af732c

[2016-02-16 11:38] #201 closed

[2016-02-16 12:13] Hughp135 opened #369 "Setup issue with Elasticsearch"
I'm having an issue with getting beatmap listing to work, specifically with the elasticsearch provider.

I noticed that the function call to searchES() in the BeatmapSet model was returning an empty array, so I tried dumping the results of the elasticsearch error:

BeatmapSet.php

<img width="510" alt="screen shot 2016-02-16 at 11 36 00" src="https://cloud.githubusercontent.com/assets/12624925/130

[2016-02-16 12:58] nanaya commented on #369
It sure does. You need load some... stuff... to elasticsearch. You need to install it... and the elasticsearch-jdbc plugin.

Unfortunately I don't even remember how to do it but there's this script which may give some hint.

[code]

[2016-02-16 13:52] Hughp135 commented on #369
Thanks for the reply nanaya. Definitely clears things up :)

On looking through it a bit more, I was wondering why this provider is even being used? Could queries not simply be done using laravel's query builder?

Does using ES have any benefits over the query builder? e.g.

[code]

[2016-02-16 13:56] peppy commented on #369
ES gives us much better index coverage of beatmap data. If we were to rely on MySQL, we would have to basically index every column, and would still not get the same level of performance.

It also provides fulltext search that is miles better than anything MySQL can offer.

[2016-02-16 14:18] Hughp135 commented on #369
Ah right fair enough. I guess that makes sense with the amount of beatmaps that will need to be searchable through!

[2016-02-16 17:34] Hughp135 commented on #369
Well I kinda failed getting it installed since I'm on mac atm and there isn't a package for elasticsearch-jdbc for mac as far as I can see.

Might give it another go when I get home, or perhaps just use alternative functions for testing stuff locally.

[2016-02-16 17:41] peppy commented on #369
I mean depends on what you are testing, but you CAN easily replace the ES return with database lookups without much effort. Searching won't be so simple, but if you just want beatmaps in the listing then...

[2016-02-16 18:41] Hughp135 commented on #369
Well if I could get ES working then I could potentially help with additional controller methods etc if needed.

But firstly I just wanted to populate the site with some data so I could get started on some of the minor frontend issues etc. Any chance of getting a database export like you mentioned earlier?

[2016-02-16 19:19] ameliaikeda commented on #20
I got a new job a while back and haven't been able to do much of anything
(deadline is in just over a month for me). This pretty much just needs a
small db dump with a user or two, a forum, a few topics and some posts in
it (and a sample beat map) and people can jump in way faster.
On Mon, 15 Feb 2016 at 23:34, Hughp135 <notifications@github.com> wrote:

[2016-02-17 13:16] Hughp135 commented on #369
well believe it or not, I actually got this working inside the virtualbox VM. I've even added some code to the bootstrap.sh file to automate the setup of the elasticsearch server.

Now the only issue I'm having is that to index the SQL database I have to manually run the script that @nanaya posted. Any pointers on how to automate it so that this won't need to be manually done to load new entries t

[2016-02-18 08:23] #340 closed

[2016-02-18 08:31] peppy commented on #340
Congratulations to @LiquidPL for the great work on this feature. I'm giving 450 bounty (+200 from spec) due to the increased work required to get things working, along with additional tasks that were added along the way.

[2016-02-18 09:45] peppy opened #377 "Profile section movement animations shouldn't queue"
Clicking on different sections queues the movement animations. It shouldn't.

![](https://puu.sh/nciy2/3d5fee3a7c.gif)

**[Bounty](https://goo.gl/nFdoyI) offered**: 15

As always, ask if you have any questions, and feel free to jump on the [osu!dev slack](http://osu.ppy.sh/p/slack) for more real-time discussion.

[2016-02-18 09:47] peppy opened #378 "Profile section changes should add #anchor to URL"
For instance, clicking on the "Medals" section should generate a URL like `http://new.ppy.sh/u/2#medals` which can be linked to other users (or bookmarked).

**[Bounty](https://goo.gl/nFdoyI) offered**: 40

As always, ask if you have any questions, and feel free to jump on the [osu!dev slack](http://osu.ppy.sh/p/slack) for more real-time discussion.

[2016-02-18 09:51] peppy opened #379 "Add ability to rearrange profile sections from header menu"
Rearrange own profile sections by dragging the links at the top of the page:

![](https://puu.sh/nciOn/bc3e2e39a0.png)

**[Bounty](https://goo.gl/nFdoyI) offered**: 30

Bounty may increase depending on whether we need design iterations. Initial implementation doesn't need any specific design, just functionality.

[2016-02-18 09:53] peppy opened #380 "Make username link to profile in user card"
![](https://puu.sh/nciSh/e01f2280b3.png)

**[Bounty](https://goo.gl/nFdoyI) offered**: 2

As always, ask if you have any questions, and feel free to jump on the [osu!dev slack](http://osu.ppy.sh/p/slack) for more real-time discussion.

[2016-02-18 09:56] peppy opened #381 "Remove support link and re-route correct link"
Currently the supporter info page is being displayed in community when it should use the dedicated yellow link.

![](https://puu.sh/nciZ0/4a082b7592.png)

**[Bounty](https://goo.gl/nFdoyI) offered**: 5

As always, ask if you have any questions, and feel free to jump on the [osu!dev slack](http://osu.ppy.sh/p/slack) for more real-time discussion.

[2016-02-18 09:58] peppy commented on #369
Good job getting things working. Setup seems a bit rough (might be best to not run every 15 seconds but just populate once on build/deploy) but at least we have something for new users to work with.

[2016-02-18 09:58] #213 closed

[2016-02-18 09:58] peppy commented on #160
@arflyte poke poke poke

[2016-02-18 09:59] peppy commented on #134
@arflyte can we fit these in there?

[2016-02-18 10:03] peppy commented on #13
Going to close this since we have a working model in the profile performance history graph (pure d3).

[2016-02-18 10:03] #13 closed

[2016-02-18 10:04] peppy commented on #32
I did this myself. Closing.

[2016-02-18 10:04] #32 closed

[2016-02-18 10:08] arflyte commented on #160
Let's do it this way. Left align it and increase the height of the box.

![screen-shot-2016-02-18-at-7 04 06-pm](https://cloud.githubusercontent.com/assets/3632750/13139994/db96da82-d672-11e5-8928-bb7a1ed99b1a.jpg)

[2016-02-18 10:10] arflyte commented on #134
can definitely fit them in, but it might cluttered. I suggest only show the 2 extras if they have any.

[2016-02-18 10:12] peppy opened #382 "Bounty: General enquiries, feedback and questions"
There are still hundreds of pages and features remaining to be implemented in this new system. Do you have something in particular that interests you? Do you have a new idea which you'd like to help us make official, rather than an external site?

Reply in here with any questions, feedback or requests regarding bounty. We may be able to provide completed mock-up designs and specifications for impl

[2016-02-18 10:23] peppy commented on #20
Increasing bounty to 300.

[2016-02-18 10:24] peppy commented on #31
Increasing bounty to 60.

[2016-02-18 10:28] peppy commented on #160
**[Bounty](https://goo.gl/nFdoyI) offered**: 20.

As always, ask if you have any questions, and feel free to jump on the [osu!dev slack](http://osu.ppy.sh/p/slack) for more real-time discussion.

[2016-02-18 10:43] Hughp135 commented on #20
Currently working on this. I'm grabbing some sample data using the osu API atm, since I still don't have an export of peppys database :'(

[2016-02-18 10:44] peppy commented on #20
give me a list of tables and i will provide some

[2016-02-18 10:58] Hughp135 commented on #20
Just realised that you've probs got thousands or more entries in some tables and getting a small sample size from that might not be easy with all the relationships in there. I'll think about it and let you know what's needed later if anything.

[2016-02-18 11:02] peppy commented on #20
osu_beatmapsets: https://gist.github.com/f93ce06e18a7a3fbb493
osu_beatmaps: https://gist.github.com/7924d7b1e4b2fba9d367

[2016-02-18 11:04] peppy commented on #217
This has since been fixed.

[2016-02-18 11:04] #217 closed

[2016-02-18 11:05] LiquidPL commented on #35
@UnnoTed you still doing this?

[2016-02-18 11:53] Hughp135 commented on #20
Other useful tables might be: osu_countries, osu_achievements, osu_counts

In terms of user tables, the one im struggling to grasp is the osu_user_performance_rank table (the one with r0-r89 columns.

[2016-02-18 12:15] nanaya commented on #20
osu_user_performance_rank is cyclic columns containing ranks for each user/playmode for last 90 days. Check the `RankHistory` model.

[2016-02-18 12:46] Andrehande commented on #35
This is very interesting!

[2016-02-18 13:17] #160 closed

[2016-02-18 13:17] #377 closed

[2016-02-18 13:17] #380 closed

[2016-02-18 13:17] #381 closed

[2016-02-18 14:33] LiquidPL commented on #378
should this also happen when user scrolls to the section on his own?

[2016-02-18 14:36] peppy commented on #378
hmm, i don't think it needs to. anyone else have opinions on this?

[2016-02-18 15:46] Bobo1239 commented on #378
Imo, it should only happen when clicking on the section button.

[2016-02-18 16:06] UnnoTed commented on #35
@LiquidPL yes

[2016-02-18 22:34] CMS-Falcon commented on #378
Should have this done very soon.

[2016-02-18 23:59] steffandonal commented on #30
I'd like to claim this one!

[2016-02-19 02:06] shavitush commented on #378
Does it need to be dynamic or static and just for the current available sections?

[2016-02-19 09:13] Tantusar opened #386 "Until new beatmap pages are implemented, boxes at /beatmaps should link to their old site pages."
As above.

[2016-02-19 10:27] Newb1et opened #387 "Qualified Beatmaps Appear on Ranked & Approved Section"
Title says it all, though I'm not sure if this was mean't to be, considering there isn't a Qualified section just yet.

http://imgur.com/a/GaJau

[2016-02-19 14:10] lunafreya commented on #386
As a temporary option, until the *actual* new beatmap pages gets implemented.

[2016-02-19 14:12] Tantusar commented on #386
To clarify, that's what I meant.

[2016-02-19 18:50] Hughp135 commented on #20
progress update - I've made a seeder for users, stats and maps using real data obtained from the osu api. These are loaded from json data stored in a zip file which is automatically unzipped before seeding the DB, and then the unzipped files are deleted afterwards.

 The reason I went with this approach as opposed to generating random strings etc was so that the data would be more meaningful (and

[2016-02-19 19:25] LiquidPL commented on #20
Are the json files within the repo? If so, I suggest against deleting them after seeding, as somebody might actually commit them deleted by accident. Also somebody might want to reset their vagrant vm and would have to redownload the data.

[2016-02-19 19:53] Hughp135 commented on #20
They would be deleted after seeding - plus they will be in a subfolder which is .gitignore'd so it shouldn't be an issue.

[2016-02-19 19:55] LiquidPL commented on #20
So I assume you're pulling them from somewhere else while seeding?

[2016-02-19 19:56] Hughp135 commented on #20
All the data was pulled from the osu API. I did originally think of having the seeder make API calls to seed the data, but realised that would be an unnecessary extra load when I could just store the sample data I obtained and seed off that.

[2016-02-20 13:02] LiquidPL opened #388 "Testing improvements"
Right now, all we test is PHP. I think that we should add support for testing the JavaScript, notably the React components.

I wanted to start some discussion on choice of the framework. After some searching, I found those:
- [Karma](http://karma-runner.github.io), which is only a test runner by itself, and can run in tandem with [Mocha](http://mochajs.org/) or [Jasmine](http://jasmine.github.io/)

[2016-02-20 15:08] Hughp135 opened #389 "Can't create new forum topics as non-admin user"
EDIT:
I think it's trying to load some forum permissions from the DB but this hasn't been set, so the check fails if you are not an admin. Is there a special field somewhere in the database for forum-specific permissions?

#Forum/Authorize.php
<img width="973" alt="screen shot 2016-02-22 at 17 09 23" src="https://cloud.githubusercontent.com/assets/12624925/13225941/1a18be9e-d987-11e5-9337-e41a3464

[2016-02-20 15:13] Hughp135 opened #390 "phpbb_user_group table - unnnecessary primary keys?"
The phpbb_use_group table, if I'm not mistaken, is a pivot table for users to groups. There should be no reason to have group_id and user_id as primary keys, if I'm not mistaken.

 E.g. an entry with user_id of 1 and group_id of 5 will assign user group 5 (admins) to user 1.

Having the primary keys with the DB structure created in the SQL dump means that only 1 user can be in each group, and vice

[2016-02-20 15:34] Hughp135 opened #391 "sql file missing vital inserts for parts of site to work"
I needed to make these changes to the DB for parts of the site to work (viewing forums & user rank history graph). Let me know if I should make a pull request for this.

#db-osu-data.sql

[code]

#db-osu-structure.sql

[code]

[2016-02-20 18:41] Hughp135 commented on #390
Ignore this. I didn't realise the primary key was the combination of both group_id and user_id

[2016-02-20 18:41] #390 closed

[2016-02-22 06:28] LiquidPL commented on #379
This is actually somewhat tricky.

In my current implementation, only the tabs' order is dependent on the state, as they need to be reordered with the sections.

However, when I make both tabs and sections state-dependent, something breaks, as when you reorder any of those, it snaps back to original, with the other behaving as expected.

I assume it's because React doesn't expect anything besides

[2016-02-22 11:00] nanaya commented on #389
I don't even know how it calls the `Controller->canPost(Forum, '94')` because the code (`TopicsController.php:59`) says `$this->canPost($forum, null)`. Did you modify the code or something?

[2016-02-22 17:00] Hughp135 commented on #389
Yeah, I did actually change it to test if it would fix it, and forgot to change it back before posting the error.

It however still gives this error when not an admin:

<img width="1069" alt="screen shot 2016-02-22 at 16 58 46" src="https://cloud.githubusercontent.com/assets/12624925/13225663/b034ef30-d985-11e5-9332-afbcc7ab8f5d.png">

[2016-02-24 09:06] lunafreya opened #396 "(Beatmap Panels) From two columns per row maximum to three or more columns per row depending on screen width"
Currently, the maximum number of beatmap panels per row is two regardless of screen width. This is why some users think the beatmap panels are "too wide" on 16:9 or 21:9 screens. Why not have three or more beatmap panels (depending on screen width)?

Example:
* Three or four beatmap panels per row on 16:9 screens
* Four or five beatmap panels per row on 21:9 screens

[2016-02-24 20:07] LiquidPL commented on #382
After looking at #251, I think I might attempt doing the beatmap details, or the signup process+user preferences.

Actually, why not both?

[2016-02-25 04:24] peppy commented on #382
We actually want to get the new modding system complete ASAP. Are you interested in looking at that instead as a priority? Else I'll outline the sections you just mentioned as bounties.

[2016-02-25 04:39] peppy commented on #379
Has been completed by @nanaya.

[2016-02-25 04:39] #379 closed

[2016-02-25 05:00] VeilStar commented on #396
It's currently at 3 panels per row unless the width is less than 1350px (minus padding) from what I can tell...? I'd don't think having more than 3 is a great idea as you'd have little space for the song title (and artists).

[2016-02-25 05:13] peppy commented on #378
Completed by @nanaya. @CMS-Falcon check out the solution for the kind of implementation we were looking for. Notice how it is not duplicating any logic which will cause headaches down the road when we add/reorders/remove sections.

[2016-02-25 05:13] #378 closed

[2016-02-25 05:48] LiquidPL commented on #382
can do

[2016-02-25 06:02] #396 closed

[2016-02-25 06:17] kevinwlau opened #398 "Fixed profile tabs stuck at top of screen"
On a user profile page, when you click one of the sections on the horizontal navigation, it scrolls down to the section and fixes the horizontal nav to the top of the screen.

When you scroll back up, the nav bar is still stuck there.
![screenshot 2016-02-25 00 14 24](https://cloud.githubusercontent.com/assets/689163/13311556/0dfafe0e-db55-11e5-8565-23c39b3568c5.png)

[2016-02-25 06:44] kevinwlau commented on #398
This also occurs when you scroll down past the nav bar and refresh the page.

Additionally, the nav bar items don't show active state when scrolled to the corresponding section of the profile.

[2016-02-25 07:18] peppy opened #399 "Stop store.ppy.sh being used for non-store routes"
![](https://puu.sh/nkFy5/c33ee9cfa8.png)

This needs to be fixed (and vice-versa).

**[Bounty](https://goo.gl/nFdoyI) offered**: 30

As always, ask if you have any questions, and feel free to jump on the [osu!dev slack](http://osu.ppy.sh/p/slack) for more real-time discussion.

[2016-02-25 09:00] lunafreya commented on #399
You mean replacing the osu(new).ppy.sh/store hyperlink in the new osu!web header's store link with that of store.ppy.sh?

[2016-02-25 09:03] LiquidPL commented on #399
I guess, also with redirecting to new.ppy.sh if someone uses a store link

[2016-02-25 09:20] nanaya commented on #398
try updating the source and rebuilding the assets

[2016-02-25 12:56] peppy opened #404 "Slack invitation page"
This bounty is creating a slack invitation page to replace the [old one](https://osu.ppy.sh/p/slack). It allows our system to send out email invites for people who want to join the public slack network.

![](https://puu.sh/nkR8c/4f877df549.png)

Requirements:
- This doesn't require a react implementation.
- Should try to match the old conditions in the code below.
- Implement active and inactive s

[2016-02-25 17:56] LiquidPL commented on #404
i'll try to tackle this. expect something before sunday

[2016-02-26 01:35] peppy commented on #404
Just as a note, keep in mind all PSDs we provide are @2x, so make sure to div2 any pixel values you take from it.

[2016-02-26 04:33] VeilStar opened #406 "Profile covers not loading due to incorrect image URL."
Missing a slash after .sh

https://assets.ppy.shuser-profile-covers/4255720/3153635e49a8888fade395dee7280d270a89652413826c21e78850516e5ce470.jpeg

[2016-02-27 06:41] LiquidPL commented on #404
How should be the images positioned? Do they have to be padded as they are on the psd, or is it ok if they are centered?

[2016-02-27 06:50] peppy commented on #404
You can just include it as once big image containing the left and right portions if that makes it easier (then centre that image).

[2016-02-27 08:56] LiquidPL commented on #404
[code]

What's that table? I don't see it in the schema.

[2016-02-27 08:59] peppy commented on #404
[code]

[2016-02-27 09:00] peppy commented on #404
Entries are inserted there by a separate script which runs on a schedule and checks/matchers signed-up slack users (using a slack outgoing webhook).

[2016-02-27 11:21] Nicarim commented on #382
https://github.com/ppy/osu-web/pull/326 how about this?

[2016-02-29 00:02] VeilStar commented on #406
Resolved.

[2016-02-29 00:02] #406 closed

[2016-02-29 12:46] flashwave opened #410 "Can't view the archived announcements forum"
Noticed that you can't view the archived announcements forum through the new forum, not anything major but I thought I'd drop it here anyway.

[2016-03-01 03:11] peppy opened #412 "Poor scrolling performance on profile page when anchor URL is updated"
Windows 10 / Chrome (stable): When scrolling on the profile page and arriving in a new section, the URL is updated with the appropriate anchor. This causes a noticeable pause in chrome rendering. Does not happen when jumping to a section and is directly related to when the URL changes.

**[Bounty](https://goo.gl/nFdoyI) offered**: 80

As always, ask if you have any questions, and feel free to jump

[2016-03-01 06:31] nanaya commented on #412
I think it's sped up a bit but can certainly use further improvements.

[2016-03-01 06:35] peppy commented on #412
Should reference the relevant issue in your commits.
https://help.github.com/articles/closing-issues-via-commit-messages/

[2016-03-01 06:36] peppy commented on #412
Feels 100% fixed here fwiw.

[2016-03-01 06:36] #412 closed

[2016-03-02 04:09] #398 closed

[2016-03-04 19:53] LiquidPL commented on #382
@peppy now that I'm (mostly) done with the slack page, could you give me a quick rundown on the modding system?

[2016-03-05 14:30] LiquidPL commented on #399
@peppy will this be a problem if I move the store admin to store.ppy.sh/admin?

[2016-03-05 14:31] LiquidPL commented on #399
generally i think that if it is under a separate domain then the /store 'folder' is unnecessary

[2016-03-05 21:17] Risers commented on #31
Claiming for 6 days

[2016-03-06 09:19] Risers commented on #31
Double post should be allowed 3 days after last post or 3 days after editing last post?

[2016-03-07 02:20] peppy commented on #31
3 days after last post sounds like the best option. also best to make it a config variable while you're there.

[2016-03-07 10:40] Risers commented on #31
I've got 2 ideas how to do it. First: When somebody try to doublepost show a box with message (something like access denied error) and second remove message box and put there sth like "you just posted wait a bit or edit your last post"

[2016-03-07 10:45] peppy commented on #31
removing the box is best, else the user will type a message and then be denied after putting in the work.

[2016-03-07 11:57] ThePooN commented on #31
I believe it should be allowed if it's the guy who originally created the topic because he may provide useful updates, even if nobody else posted in the last 3 days. Forcing them to edit wouldn't notify those subscribed to the thread.

[2016-03-09 07:08] #404 closed

[2016-03-09 09:03] peppy commented on #404
Awarding 120 for completion of this to @LiquidPL

[2016-03-09 21:46] LiquidPL opened #422 "Use a helper library for routes in coffeescript instead of mirroring PHP"
We could use something like [this](https://github.com/aaronlord/laroute), similarly to locales, instead of having routes duplicated in coffee.

[2016-03-11 07:15] peppy commented on #35
awarding 500 bounty to @UnnoTed for complete implementation. :high_brightness:

[2016-03-11 07:15] #35 closed

[2016-03-11 21:37] Risers commented on #31
Will be done tomorrow

[2016-03-13 04:22] peppy opened #425 "Can still see post form in locked threads"
https://twitter.com/yuuzune/status/708867635031711744/photo/1

The post form shouldn't be usable when a thread is locked. Should probably show a message or something instead.

[2016-03-13 07:40] LiquidPL commented on #425
I suppose you could get @Risers to add this to #424, as he's got some sort of a message over a reply box already.

[2016-03-13 18:24] Risers commented on #31
#424

[2016-03-13 22:08] Aquazus commented on #30
Claiming for 25 days.

[2016-03-19 05:21] peppy opened #433 "Promoted out of stock items display wrong"
Promoted out of stock items still assume their "promoted" height while being displayed as a non-promoted item.

![](https://puu.sh/nLP4C/3bcdec51e6.jpg)

bounty: 15

[2016-03-19 06:54] #433 closed

[2016-03-20 04:32] peppy opened #435 "Join date on forum posts is aligned wrong"
Shouldn't be bottom anchored.

![](https://puu.sh/nMWVx/3029801280.png)

[2016-03-20 06:32] nanaya commented on #435
this should go to @arflyte since that's how he designed it ¯\\\_(ツ)_/¯

[2016-03-22 16:39] #389 closed

[2016-03-28 09:39] Sakisan commented on #369
Another way to index the beatmaps is by using logstash.
Using logstash is very simple: download it and run this command:

`logstash-2.2.2/bin/logstash -f osuweb-beatmaps.conf`

my osuweb-beatmaps.conf
[code]
- Don't forget to put the correct ip for the database connection
- and the path to mysql-connector-java-5.1.36.jar (which you need to download first)

I'm running elastic search in a docker im

[2016-04-04 09:58] peppy commented on #20
Awarding bounty of 300 to @Hughp135  (sorry for the delay!).

[2016-04-04 09:58] #20 closed

[2016-04-12 06:04] arflyte opened #446 "[Modding] Flip the Difficulty and Mode"
![](http://puu.sh/ofh5n/3a7b466f77.png)

Please flip the spot for difficulty name and mode type.

[2016-04-12 07:58] peppy opened #447 "[Modding] Need a general section per-difficulty"
As people have pointed out in feedback, we need the ability to post "general" non-timestamped comments on a per-difficulty level.

[2016-04-12 08:00] peppy opened #448 "[Modding] Make post type buttons clickable"
Should be able to click these:

![](https://puu.sh/ofllN/d4392c35e2.png)

to change the post type in my opinion. If a timestamp hasn't been entered by the user, put a placeholder 00:00:000 for them.

[2016-04-12 08:00] nanaya commented on #447
the backend is relatively easy

[2016-04-12 08:01] peppy opened #449 "[Modding] Make filter counters clickable"
Should be able to click these:

![](https://puu.sh/oflpr/9ccde37249.png)

to filter down to the clicked types. active filter should be highlighted and there should be a mouseover state @arflyte

[2016-04-12 08:03] peppy opened #450 "[Modding] Add ability to filter by specific conditions"
Here's a couple of filters we need. Probably a dropdown or similar?
- Issues closed by mapper (if a mapper closes an issue themselves, it may not have been checked correctly, so this will be a commonly used one).
- Issues posted by current user (so you can narrow down to only your own posts).

possibly others

[2016-04-12 08:05] peppy opened #451 "Markdown support in beatmap discussions"
Mod comments should be able to use markdown. Possibly with headings disallowed.

[2016-04-12 08:12] peppy opened #452 "Ability to edit posts"
as per title. not sure if they should be able to change the resolved state, though.

[2016-04-12 08:14] peppy opened #453 "Resolved state should be attached to each post"
Consider in a long thread, with the current implementation we won't know who is responsible for resolving/unresolving issues. In a case where disagreements are occurring, it will be unclear if there was contention in the resolved state throughout the discussion, which is probably something we want to see.

Should be visible on posts with a coloured bar @arflyte provide design plz.

[2016-04-12 08:14] peppy opened #454 "Reloading the page should return you to the same difficulty you were last viewing"
.

[2016-04-12 08:18] peppy opened #455 "Difficulty selection dropdown is infinitely long"
![](https://puu.sh/ofm1h/ebd81d660f.png)

[2016-04-12 08:20] nanaya commented on #452
missing the design :dancer: Or techincally I can just improvise one

[2016-04-12 08:24] peppy opened #456 "Buttons should have a hover state"
![](https://puu.sh/ofmdY/3915bf1393.png)
feel so lifeless

[2016-04-12 08:30] peppy opened #457 "A way to collapse/expand all"
.

[2016-04-12 08:44] peppy opened #458 "Post area should fix (anchor) to top of page while posting."
Also:
- A (coloured?) marker should be placed on the timeline where our post is going to be positioned.
- The page should scroll to where the post you are about to make will be inserted. If a post already exists at that timestamp, it should scroll to that post.
- The general/timeline section should be automatically opened to the correct option for the current post type.

[2016-04-12 11:23] nanaya commented on #457
![](https://puu.sh/ofpXO/3597f8acef.png)

[2016-04-12 12:05] nanaya commented on #452
normal state

![](https://puu.sh/ofubq/fa1f4ef903.jpg)

on hover

![](https://puu.sh/ofuaM/6e1266e49d.jpg)

on hover for first post

![](http://puu.sh/ofuh3/cad038eb37.jpg)

editing & hovering

![](https://puu.sh/ofucA/1934956c93.png)

editing & mouse somewhere else

![](https://puu.sh/ofud6/d0e9f44a05.png)

hi @arflyte :dancer:

[2016-04-13 02:08] AncuL001 opened #459 "can't reslove without replying"
dont know what to add, so yeah read the title

[2016-04-13 02:10] peppy commented on #459
This is intentional. It forces the resolver to give a reason or at very least a "thanks!". It also provides accountability to who resolved/unresolved issues.

[2016-04-13 07:48] nanaya commented on #453
![](https://puu.sh/oguav/945d3470c3.jpg)

Hi @arflyte design plsthx

[2016-04-13 07:59] arflyte commented on #453
/me goes to your desk

[2016-04-13 11:36] AncuL001 opened #461 "Make "Collapsed comment" as the default when opening the page"
[looks cleaner and less painful to be scrolled on](http://puu.sh/ogChe/bf96eee57a.png)
also might want to add the comment count

[2016-04-13 11:53] #446 closed

[2016-04-13 11:53] #449 closed

[2016-04-13 11:53] #452 closed

[2016-04-13 11:53] #453 closed

[2016-04-13 11:53] #454 closed

[2016-04-13 11:53] #457 closed

[2016-04-13 22:58] abraker95 opened #464 "[Modding] Mania diffs should be ordered primarily by keymode with difficulty as secondary in the dropdown"
In the modding dropdown have it be

4k Easy
4k Normal
4k Hard

6k Easy
6k Normal
6k Hard

[2016-04-13 23:35] VeilStar opened #465 "Cannot change font size in post due to dropdown automatically closing in Firefox"
Title. Using Firefox 45.0.2. Doesn't happen in Chrome.

[2016-04-14 01:57] peppy opened #466 "Beatmap Info Page"
This bounty is for the new beatmap details page.

![](http://puu.sh/nPzv6/8fdd6dfe0c.png)

## Map Details

### Difficulty Selector

![](http://puu.sh/nPAkW/c987dad24f.png)

This is the mode and difficulty selector.

The tabs are for the modes. It’s red when selected and gray if the mode is not available.

The buttons are the available difficulties, represented by difficulty level.

The title of th

[2016-04-14 02:00] peppy opened #467 "Team Pages"
![](http://puu.sh/nQJBQ/298b2fd2b9.png)

The design of the Team Pages is almost identical to Profile Pages. The top section is split into 3 columns: Basic Info, Team Performance, and Team Achievements.

Administrators should be able to change basic infos such as Cover, Banner and Basic Info on the fly.

The lower sections are similar to Profiles pages; additional details about the team. There shou

[2016-04-14 03:54] LiquidPL commented on #466
Actually almost done with that, the only thing left is to plug the scoreboard to the backend, so the tabs actually do something ¯\_(ツ)_/¯.

Having that in mind, could you tell me how can I retrieve the user's friend list? (I asked you several times on slack but you didn't respond)

[2016-04-14 03:59] peppy commented on #466
Friends is retrieved from the phpbb_zebra table for now.

[code]

[2016-04-14 05:08] #464 closed

[2016-04-14 05:13] arflyte commented on #456
http://puu.sh/ohys7/8d6ac50519.png

Updated the file.

[2016-04-14 11:29] nanaya commented on #465
I... don't know ;_; All I figured out is it works if I disable the custom tooltip.

[2016-04-19 04:30] peppy opened #473 "Create an "I want this!" store button for out-of-stock items"
We regularly run out of stock, but there is no way for users to be informed when we replenish stock for specific items. This task involves adding a button which displays on all out of stock items. It should be a toggle state, with text "Notify me when available!" becoming "You will be notified when stock arrives!".

On clicking, the user_id and product_id pair should be stored to a table.

**[Boun

[2016-04-19 04:41] LiquidPL commented on #473
So this handles only adding the 'notify me' button, and you'll handle notifying by yourself, am I correct?

[2016-04-19 04:42] peppy commented on #473
It's a pretty rare case and we don't have an admin interface for stock at the moment, so yes, that's correct.

[2016-04-19 04:42] LiquidPL commented on #473
Alright then, I can try doing it.

[2016-04-19 06:04] arflyte commented on #473
The design of the button should be the same as "Add to Cart" for now, as the new standardised button is not finalised yet.

[2016-04-19 06:20] arflyte commented on #473
![response](https://cloud.githubusercontent.com/assets/3632750/14629507/2aab76a6-0642-11e6-836b-c3f43bb69df7.jpg)

The response should look like this.

[2016-04-19 11:20] aleen42 commented on #467
Would you mind join me to complete this page?

[2016-04-19 11:50] peppy commented on #467
not sure who you're talking to!

[2016-04-19 12:05] LiquidPL commented on #473
[![](http://i.imgur.com/WxrtA2v.png)](https://github.com/ppy/osu-web/blob/master/app/Http/routes.php#L101)

can I break this down into separate routes?

[2016-04-19 12:38] aleen42 commented on #467
@peppy sorry, and I want to join the development of this page

[2016-04-20 03:01] arflyte opened #474 "Add Date to Achievement Popup"
Something, like, this.

![osu next - achievement details hover](https://cloud.githubusercontent.com/assets/3632750/14662263/7c4e684e-06ef-11e6-9add-8e6361ff2a03.png)

Reduce the space between the title and description, and add the date (19px, #999) at the bottom.

[2016-04-20 03:02] peppy commented on #474
**[Bounty](https://goo.gl/nFdoyI) offered**: 20

As always, ask if you have any questions, and feel free to jump on the [osu!dev slack](http://osu.ppy.sh/p/slack) for more real-time discussion.

[2016-04-20 07:08] arflyte opened #475 "New Typeface for Content"
Testing new typeface for content for readibility, [Noto Sans](https://www.google.com/fonts#ChoosePlace:select/Collection:Noto+Sans:400,700,700italic,400italic).

@nanaya can you help me out with these?

![ss 2016-04-20 at 03 58 49](https://cloud.githubusercontent.com/assets/3632750/14665949/9e7586ba-0711-11e6-8392-b40eb915d096.png)

[2016-04-20 18:44] Trosk opened #478 "Achievement icon not available for new achievements"
Posting this just in case. The icons for new achievements are broken (or not implemented yet).
![2016-04-20_20-40-29](https://cloud.githubusercontent.com/assets/15179452/14686355/9ba0dbd4-0738-11e6-83e7-3f0e215b1781.png)
![2016-04-20_20-40-11](https://cloud.githubusercontent.com/assets/15179452/14686359/9d0c226c-0738-11e6-9cb3-6365c63ab9f6.png)

[2016-04-20 21:35] MillhioreF opened #479 "Some profiles with the new achievements aren't rendering"
Mine, for example: https://new.ppy.sh/u/941094

Seems to be related to achievement unlocks in recent activity slots below the top 5.
![](http://puu.sh/opLVb/5031224d7f.png)

[2016-04-21 04:01] VeilStar commented on #465
Looks like the font size dropdown closes if the left mouse button isn't being held down outside of the font size box (over which you can hover for the tooltip to be visible). Not sure if that's useful info though.

[2016-04-21 20:10] LiquidPL commented on #473
@arflyte can I get the actual font sizes for that?

[2016-04-22 12:42] kschamplin19 commented on #467
@peppy: I'll take a stab at it.

[2016-04-22 13:17] peppy commented on #467
keep us updated with your progress :)

[2016-04-22 23:29] kschamplin19 commented on #467
Not sure if it warrants a new controller or if it should extend CommunityController. I am going for the latter option, but if it is preferred otherwise let me know and I can change them

[2016-04-22 23:33] peppy commented on #467
It should DEFINITELY have its own controller.

[2016-04-22 23:45] kschamplin19 commented on #467
I ninja'd but forgot to post my edit, makes a lot of sense now.

[2016-04-23 02:52] #478 closed

[2016-04-23 02:53] #479 closed

[2016-04-24 03:00] kschamplin19 commented on #467
So I'm sketching out the tables, and I don't know how you would like it to be implemented. Here are some options:

1. Have table 'teams' containing a team id, name, rank, page data, etc. Have separate table 'team_members' listing a user id and a team id, along with if the user is an admin of the team. Limitations: must search through all team members to find members of a certain team. Can only be

[2016-04-24 08:03] LiquidPL commented on #467
Check [`UserTransformer.php`](https://github.com/ppy/osu-web/blob/master/app/Transformers/UserTransformer.php) and the [template for the profile page](https://github.com/ppy/osu-web/blob/master/resources/views/users/show.blade.php).

The user data is serialized into JSON by the transformer and inserted into a script in the template, so the coffeescript rendering the profile page can access it.

[2016-04-25 12:28] lunafreya opened #485 "Noto Sans for non-Latin characters"
Why not have a font for the other languages? Especially when you see CJK characters. (i.e. primary font is Exo 2, secondary font is Noto Sans w/ all variants)

[2016-04-25 12:30] lunafreya commented on #313
All is good for now.

[2016-04-25 12:30] #313 closed

[2016-04-25 12:31] nanaya commented on #485
Yeah, there was a joke about "please download 500 MB worth of fonts to view the site".

[2016-04-25 12:37] lunafreya commented on #485
You can see the whole website with Exo 2 because of a font import mechanism! That can be done the same with Noto Sans!

[2016-04-25 12:41] nanaya commented on #485
yeah... and the browser will download the font... in the background... so it can be rendered...

Not sure if anyone will appreciate loading a site causing a half gigabyte download of font in the background without notice.

[2016-04-26 08:26] #474 closed

[2016-05-04 11:57] peppy opened #491 "Tooltip for rank is wrong"
Always shows "osu!catch".

![](https://puu.sh/oFRRm/95badfa66a.png)

[2016-05-04 16:11] LiquidPL commented on #491
Where does this happen exactly? Seems fine on my profile.

[2016-05-05 03:28] #491 closed

[2016-05-06 08:11] Nath789 opened #495 "List BBCode is broken in user pages"
The list bbcode doesn't seem working properly in user pages (I am aware about the [bullet point](https://github.com/ppy/osu-web/issues/29)).
![b2](https://cloud.githubusercontent.com/assets/5668486/15067323/11766a2a-13a2-11e6-9e78-0c13f8e38bc1.JPG)

Format:

[2016-05-06 11:11] #29 closed

[2016-05-06 11:11] #495 closed

[2016-05-10 11:33] Nath789 opened #498 "Quoting a post with shortened links returns <a> of the link."
It only happens on links that has been shortened.
e.g. [t/408517](https://osu.ppy.sh/forum/t/408517) or [/p/4815096](https://osu.ppy.sh/forum/p/4815096)

Simply use the quote button on a post with a that kind URL to reproduce.

![cap](https://cloud.githubusercontent.com/assets/5668486/15145009/b4091dd2-16e5-11e6-9c84-f94d0874f130.JPG)

[2016-05-10 16:58] Nath789 commented on #498
Updated information, it only happens on shortened links.

[2016-05-10 21:55] kschamplin19 commented on #467
Alright, sorry for the lack of response, been quite busy with school and finals coming up. An update:

I extended the User model to create a team_id column. Although this fixes the the previous problems, I don't know if I want to add a 'team_is_admin' column because it could potentially be exploited. I probably will do so for now just to avoid having conflicting standards.

My main question is, sh

[2016-05-11 08:03] arflyte opened #501 "New Change Log Page"
![](http://puu.sh/oNLFw/5b54e95e6c.png)
Design mockup for Change Logs page at @2x. Ignore the old style header.
## Change Logs Summary

![](http://puu.sh/oNLGL/07be8aa358.jpg)
Release stream buttons. The latest Stable version is on top, 2 buttons wide while the rest are at the bottom. Each button shows the current online users using the stream's build.

When clicked, button is highlighted with bor

[2016-05-11 08:10] peppy commented on #501
One someone has shown interest in this, we will provide database table structure and sample data for the changelog entries and build history graph/display.

[2016-05-11 08:22] LiquidPL commented on #501
is there any set way how should those buttons arrange when on mobile? also, what image/gradient/whatever is under those buttons?

[2016-05-11 08:29] arflyte commented on #501
Featured/Important fix should be on top of other lesser fix. Like this:

![](http://puu.sh/oNNoZ/14eb4a8269.png)

[2016-05-11 14:03] UnnoTed commented on #501
i'll do it

[2016-05-12 12:38] #466 closed

[2016-05-12 12:58] peppy commented on #466
Rewarding 750 bounty to @LiquidPL for compeltion of this page :fireworks::fire::fire_engine::scream_cat:

[2016-05-12 15:50] Shadoxfix commented on #386
Beatmap pages have been implemented in #470 so this can be closed.

[2016-05-12 15:50] #386 closed

[2016-05-13 00:04] Rocker-r opened #505 "Improvements to US and Liberian flags"
Someone brought this up on the osu! subreddit, so I made up improved versions of the US and Liberian flags. However, I've never used git before, so I have no idea how to create a pull request for these improved flags.

![us](https://cloud.githubusercontent.com/assets/19335796/15234104/18db6ba6-187c-11e6-98e2-0c00b241acab.png)
![lr](https://cloud.githubusercontent.com/assets/19335796/15234107/2188f

[2016-05-13 00:22] kschamplin19 commented on #505
See the [flags](https://github.com/ppy/osu-web/tree/master/public/images/flags) folder for the list of all the flags. I would [fork](https://help.github.com/articles/fork-a-repo/), then [branch](https://help.github.com/articles/creating-and-deleting-branches-within-your-repository/), and after you have made your changes make a [pull request](https://help.github.com/articles/using-pull-requests/).

[2016-05-13 00:44] Rocker-r commented on #505
Thanks for the help, created the pull request

[2016-05-13 00:44] #505 closed

[2016-05-13 07:52] arflyte commented on #505
The USA flag have already been updated by increasing the number of stars, but the number of stripes remained in order to keep it simple. The flags are not accurate representations but a simplified representation of the actual flag designs.

[2016-05-13 10:53] Chiyozel opened #509 "Scores are not aligned properly with some names on mobile"
![misscores](http://i.chiyozel.com/zZiIgGYZ)

Giving attention to ranks 36, 37, 40, 46, 49

[2016-05-13 10:57] peppy opened #510 "Mods are missing from score displays on beatmap page."
They should be displayed similar to how they are on the profile listing.

bounty: 10-20 (make sure the code is shared with profile score displays where possible).

[2016-05-13 11:01] LiquidPL commented on #509
I guess this needs a separate design mostly because of stuff actually not fitting in such small width.

Will you try to design something yourselves or should I come up with something on my own?

@peppy any thoughts?

[2016-05-13 11:02] peppy commented on #509
start hiding more elements as they can't be displayed? ie. remove the least important stuff (#rank probably)

[2016-05-13 11:02] peppy commented on #509
Also the size of the rank letters looks wrong..

[2016-05-13 11:45] peppy opened #512 "Clicking the header on a beatmap page should allow playback of audio"
In a similar fashion to the old site. There should be a play and pause state icon displayed. A design can be provided but you're welcome to go ahead and add functionality and we can work the design in place after.

should be a bounty of 50 or so. maybe more if design is good.

[2016-05-13 11:46] peppy opened #513 "Convert difficulties should always be visible on beatmap pages"
Right now there's no way to see scores for convert difficulties (osu! standard maps played using a non-standard mode). They should be displayed in the difficulties list (possibly at half opacity) along with the native difficulties for other mode, should they exist.

bounty: 50-100

[2016-05-13 11:48] peppy opened #514 "Clicking a tag on the beatmap page should search"
Tags should be linkable to search on them.

![](https://puu.sh/oQily/7e074076a1.png)

Also probably the title and artist in the header (no underline)

![](https://puu.sh/oQinl/ccc446add4.png)

bounty: 10-20

[2016-05-13 11:55] peppy opened #515 "Personal best should have a more prominent display on beatmap scoreboards"
Similar to the #1 score, it should show full detail at the position you are in the ranking (after 50 if you're below 50).

[2016-05-13 11:57] peppy opened #516 "The status page needs backend hooks"
This needs attention from peppy to get data sources ready (datadog api?).

[2016-05-13 13:09] Shadoxfix opened #517 "Description content on beatmap pages may leave the screen on mobile devices"
On the beatmap pages youtube videos frequently extend out of the screen on the right side if you are on a mobile device.

Example page: http://new.ppy.sh/s/422427#description
![](https://i.imgur.com/xbyDfxt.png)

[2016-05-13 19:33] Cyanogenoid opened #524 "Wrong skill medal image used in event feed"
Currently, the medals for "*n* star pass" and "*n* star FC" are always shown in the greyed out version in the user feed.
![](http://i.imgur.com/NTEu2YV.png)

It is probably better to show those medals in the colour they have when unlocked, i.e. in silver and gold.

[2016-05-14 05:17] abraker95 opened #526 "User defined width"
The new website doesn't look comfortable to use on certain screens. Let's just allow players to set the style width they want to use for the new website: custom or automatic. The setting would apply globally; forums, beatmap listing, etc.

[2016-05-14 05:19] peppy commented on #526
We are planning to have two width options and also improve how the site
looks on super-wide screens.
2016年5月14日(土) 14:17 ABraker <notifications@github.com>:

[2016-05-16 02:30] kschamplin19 commented on #467
![finished UI](http://puu.sh/oTs1Y/8935b4a89b.jpg)
Finished the main UI, now just some backend cleanup and it should be good. Still unsure how the backend should be implemented. Right now editing works but doesn't save because I need to add that. I am open to any suggestions on how the model should be implemented to make things up to spec.

Also, how is avatar data stored? Is the feature implement

[2016-05-16 02:31] peppy commented on #467
best to push and link what you have done so far, so we can check over it. it sounds like you aren't using react, which is something you ill need to use.

[2016-05-16 02:36] kschamplin19 commented on #467
Oh, I'm using react. JQuery ui for the sortable drag and drop (saw it used in the profile page). I will push my changes over now.

[2016-05-16 12:56] #524 closed

[2016-05-16 13:59] kschamplin19 opened #529 "Gulp Watch not working"
This has been discussed for a while, but no real solution has been sought. At first, it seemed to be a limitation of the vagrant user, and gulp could not watch **all** the files (why it needs to do this is beyond me). This could be fixed with a simple command that raised the limit of watched files in the filesystem. However, that caused more errors later on (but it did work for a little bit). The

[2016-05-17 05:37] ghost opened #530 "Latency with user actions on mobile"
I am using Firefox on Android. Most of the elements on the website have up to about 3 second latency until they respond to user actions. For example, tapping on the achievments in the profile can take up to 3 seconds for the description to show up. Same with the menu in the top right corner and many other stuff.

[2016-05-17 05:41] nanaya commented on #530
Which phone/tablet/etc are you using? Have you tried with Chrome?

[2016-05-17 05:45] abraker95 commented on #530
I am using the S5 phone.

Just tried chrome, it's a lot more responsive there (only slight latency).

[2016-05-17 07:23] #514 closed

[2016-05-17 09:47] peppy commented on #514
awarding 15 bounty for this :+1:

[2016-05-19 11:54] LiquidPL commented on #513
should the converts be displayed after normal diffs, or can they be mixed up?

[2016-05-19 12:00] peppy commented on #513
i feel like they should be before, personally (because osu! generally precedes other modes).

[2016-05-20 07:06] FayneAldan opened #534 "Remove line spacing on me! section of profiles?"
![](http://i.imgur.com/ZYxO7JV.png)
I made this today for my profile, but it turns out it doesn't appear correctly on the new site. I was wondering if the line spacing could be removed, or if a BBCode could be added to remove line spacing? [This is what it should look like.](http://i.imgur.com/96ToaRG.png)

[2016-05-20 07:15] FayneAldan commented on #534
It seems signatures have the line spacing as well. As such, I'd assume forum threads would as well?

[2016-05-21 19:58] Lemmmy opened #537 "Mania Fade-In mod does not have an icon"
![](http://really.shitty.download/innocent_studios_label.png)

Server tries to load the image at `https://new.ppy.sh/images/badges/mods/fade-in.png` but it is not found.

[2016-05-21 21:03] kschamplin19 commented on #467
How would I go about searching for a user(s)? I assume you don't want the list of users to show up until after a search query is entered.

[2016-05-22 02:08] #537 closed

[2016-05-22 12:16] Lemmmy commented on #537
good shit :ok_hand:

[2016-05-26 08:53] #473 closed

[2016-05-30 12:47] #510 closed

[2016-05-31 06:13] peppy opened #549 "Highlighted stream on livestream page should be an embedded player"
Right now it's a huge ugly thumbnail.

**[Bounty](https://goo.gl/nFdoyI) offered**: 20-50 depending on implementation quality.

Feel free to reply in this thread should you have any questions.

[2016-05-31 06:17] peppy opened #550 "User Preferences"
This is an open-ended task to add user preferences to the system. We have a design for this (and I think it was partly implemented) so ask if you are wanting to take this one. It will likely require consultation directly with us on an on-going basis, so let us know if you are interested in helping here and we'll talk it through.

This will involve tasks like:
- Change avatar
- Change profile detai

[2016-05-31 06:19] peppy commented on #251
added some missing items, updated completed tasks (spoiler: not many)

[2016-05-31 09:36] peppy opened #552 "Beatmap links shouldn't open in a new window/tab"
Right now they do, when clicked from the listing page.

[2016-05-31 09:56] arflyte opened #554 "osu! Front Page"
![](http://puu.sh/pbjlL/5273245bcb.jpg)
Front page when users not signed in. It features huge image carousel that fades between 3-5 images, with large call to action lines. Artworks will be provided by illustrators and will change according to events or seasons. Clicking some of the images will take to different pages.

Design is not finalised, and all the image snippets here are at 2x unless ment

[2016-05-31 09:58] nanaya commented on #552
with current search page, I don't recommend opening in same page because going back to search page result in something... undefined (try clicking modder name for example, and/or scrolling down several pages).

[2016-05-31 09:58] peppy commented on #552
can that just be fixed in this PR too? ;)

[2016-05-31 09:59] nanaya commented on #552
Maybe update the title/description? :P (also it's pretty difficult from what I can tell)

[2016-05-31 10:54] arflyte commented on #554
![](http://puu.sh/pbnGR/8e05f27e44.jpg)

When the online users link are clicked.

[2016-05-31 10:56] peppy commented on #554
**[Bounty](https://goo.gl/nFdoyI) offered**: 200-1000 depending on implementation quality.

Feel free to reply in this thread should you have any questions.

[2016-05-31 11:24] peppy commented on #554
also "free-to-play" should totally be "free-to-win" ;)

[2016-05-31 12:09] lunafreya commented on #554
Also, "productivity killer" should be "rhythm clicker".

[2016-06-01 05:56] normundy commented on #549
Would we want an embedded player like the players on MyAnimeList that "pop" out (Ex: under 'Most Popular Promotional Videos')?
http://myanimelist.net/

[2016-06-01 05:58] peppy commented on #549
No, it should be playing when you arrived at the page, in place of the over-sized thumbnail that is currently being shown there.

[2016-06-01 06:01] #512 closed

[2016-06-01 07:29] normundy commented on #549
So the embedded players should look something like this?

![osuweb_549_1](https://cloud.githubusercontent.com/assets/10818718/15701559/cdef0896-278f-11e6-97e9-9eb754cd8a9e.png)

My mock-up significantly slows down the page, may need to consider some sort of pagination. Note that the stream details such as the views and status are all included in the player already. Do we want to keep the same layo

[2016-06-01 07:30] nanaya commented on #549
I thought it's just for highlighted one?

[2016-06-01 07:31] LiquidPL commented on #549
wouldn't those have actually the same purpose as what we have currently? as in, opening the twitch page? also, as nanana mentioned, it is to be only for the first, big one.

[2016-06-01 07:33] normundy commented on #549
Oh oops. Feeling dumb here. What do you mean by the highlighted one or first big one?
http://new.ppy.sh/community/live

[2016-06-01 07:34] LiquidPL commented on #549
https://puu.sh/pcsv4/0b047a7177.jpg

[2016-06-01 07:36] VeilStar commented on #549
http://puu.sh/pcv4e/a48efb3e00.jpg if you want a bit of a better preview

A stream can be promoted/featured/highlighted and will then appear as shown on the screenshot.

[2016-06-01 07:37] normundy commented on #549
Ah I see, I had my development on master. Thanks for the images

[2016-06-01 07:41] peppy commented on #549
Also keep in mind that the design here is slightly outdated (the whole page design) and implemented incorrectly (everything is @2x from what it should be).

I believe @arflyte will have a bounty today for fixing that up to the newer version.

[2016-06-01 08:48] Nicarim commented on #549
:( that hurts

[2016-06-01 08:52] arflyte opened #559 "Beatmap Details Page, Redesigned"
![](http://puu.sh/pctKG/a114e17def.png)

New design for the beatmap page. Designs not final but ready for implementation. All of these image snippets are at 2x, unless mentioned.

## Cover and Main Information
![](http://puu.sh/pcwEf/0eaa51630f.jpg)
Cover is beatmap's background. 50%-70% gradient black overlay on the cover for visibility. Will be fine tuned in the future. All the text except in th

[2016-06-01 10:16] arflyte opened #560 "Live Stream Page, Redesigned."
![](http://puu.sh/pcBt1/337ac1c5d2.jpg)
Image snippet at 2x. Please ignore the old style logo and header.

![](http://puu.sh/pcBuq/0c5e4ca47b.jpg)
It would be great if the featured livestream is an actual video stream instead of a screenshot.

Twitch username, followed with stream title and viewer count. All the texts are on top of the viewer. Black gradient 0%-50% opacity background on stream det

[2016-06-01 10:38] peppy commented on #501
How's things going?

[2016-06-01 10:40] peppy commented on #559
**[Bounty](https://goo.gl/nFdoyI) offered**: 400-1000 depending on implementation quality.

Feel free to reply in this thread should you have any questions.

[2016-06-01 10:40] peppy commented on #560
**[Bounty](https://goo.gl/nFdoyI) offered**: 50-150 depending on implementation quality.

Feel free to reply in this thread should you have any questions.

[2016-06-01 10:41] peppy commented on #549
This makes up part of the bounty at https://github.com/ppy/osu-web/issues/549, but can be implemented separately if it happens first.

[2016-06-01 11:12] RBRat3 commented on #560
Would it be a nice courtesy to add the mute parameter to true if twitches embed is going to be used?

[2016-06-01 12:43] kschamplin19 commented on #467
It seems I am running out of time here. Probably not a good idea to start a month before finals :P. I don't know if I can keep working on things more now that I'm done with school (pushing 50 day limit right now), but if anyone else wants to finish it up, let me know and I will pass things off.

[2016-06-01 13:23] UnnoTed commented on #501
Preview: https://youtu.be/5rgTKWevd7U

Things left to do:
- [ ] Fix the chart info-box not being in the same place as the mouse (caused by viewBox).
- [ ] Add the featured/important fix to be on top.
- [ ] db stuff

[2016-06-01 15:55] normundy commented on #550
I am interested in helping in helping with these features. Maybe I can start out with implementing one of them for now like the 'Change avatar' feature. Thinking of working on this after #549

[2016-06-01 19:32] Hatsuney opened #562 "Medals on recent event list get cut off on the bottom."
Looks ugly.
![image](https://cloud.githubusercontent.com/assets/330645/15722911/4b28448e-2840-11e6-80ee-39ea7d009917.png)
![image](https://cloud.githubusercontent.com/assets/330645/15722917/51003d80-2840-11e6-8a6d-a583c0be6dc7.png)

[2016-06-02 05:33] #562 closed

[2016-06-02 06:50] roupkk commented on #485
You can use css: [unicode-range](https://developer.mozilla.org/en/docs/Web/CSS/@font-face/unicode-range)

Chunking fonts by frequency can help.
In case of korean, total size of Noto Sans KR is about 150MB.
But if you only support commonly used characters, that can be reduced into about 3MB or less (+95% coverage).

But not sure worth it. :confused:

[2016-06-02 08:45] lunafreya commented on #485
@roupkk LGTM

[2016-06-03 13:09] roupkk commented on #485
@lunafreya Inconsistent font rendering could be bad for UX.
Many sites use system fonts or well known fonts which might be cached from other site.
Focusing too much on font rendering could be overkill, IMHO.

[2016-06-03 13:15] Hughp135 commented on #550
I'd definitely like to help out with this, from what I gather we will new to add new routes and controller methods for each the required functions plus any new tables required for storing profile data?

These all seem pretty doable

[2016-06-03 13:23] LiquidPL commented on #550
profile tables are here already from the old website, you just need to add models, routes and controller methods for editing it within the new site, and then make the frontend.

[2016-06-03 23:04] reesebiz commented on #554
Me and @RedbackThomson is interested in working on this! Are there resources/PSD available for the current version somewhere?

[2016-06-04 03:52] peppy commented on #554
@arflyte i can't find the psd for this. please provide.

[2016-06-04 04:01] peppy commented on #554
I think this is the right PSD?

https://puu.sh/pg3Q4/d217f4536d.psd

[2016-06-04 05:07] reesebiz commented on #554
Yep that's the one. Thanks!

[2016-06-04 20:28] Akuba- opened #574 "[false alert] Unknown database 'osu_chat' when trying to migrate"
When I run "artisan migrate" or "artisan migrate:refresh" I always get this error:
  [PDOException]
  SQLSTATE[HY000] [1049] Unknown database 'osu_chat'

Cannot fix this myself since I do not know the fieldnames/types of this table.

[2016-06-04 20:30] nanaya commented on #574
it is usually recommended to read the error message when diagnosing a problem.

[2016-06-04 20:32] Akuba- commented on #574
... oh ... database.

I thougt it was a table for some reason :s.

[2016-06-05 07:15] RedbackThomson commented on #554
What did you envision for the login and sign-up buttons? If they're logged in, they shouldn't even be able to access this page? Or an avatar like the normal header?

[2016-06-05 07:15] peppy commented on #554
the page is only accessible when not logged in.

[2016-06-05 07:17] RedbackThomson commented on #554
Should the buttons redirect to a permanent login/sign-up page, then?

[2016-06-05 14:57] Cyanogenoid commented on #559
A suggestion for the ranking chart filter:
I think the most flexible system for the filters uses three states for each mod icon rather than two: *don't care*, *enabled*, and *disabled*.

 - *don't care* means that all plays, regardless of whether they use this mod or not, are shown.
 - *enabled* means that the plays shown must have this mod enabled
 - *disabled* means that the plays shown must hav

[2016-06-05 17:22] odihominem commented on #560
Hi everyone,
I have a working draft of redesigned live stream page. I hope it'll meet your expectations. Background for the featured livestream is a video.

![osu_livestreams_redesigned](https://cloud.githubusercontent.com/assets/15053832/15807004/ee45f882-2b51-11e6-8918-17296e465879.png)
![osu_livestreams_drop_shadow](https://cloud.githubusercontent.com/assets/15053832/15807042/cffad7d4-2b52-11e6

[2016-06-05 17:36] peppy commented on #560
looks pretty solid. send over a pull request and we'll check it out :+1:

[2016-06-06 02:26] reesebiz commented on #554
So I saw mentioned that the design is at @2x. I made the page to be half of what it looks like in the design so far: http://puu.sh/piklJ/01becc0382.jpg

I'm wondering is the site supposed to look that small? It feels a lot smaller compared to the rest of the pages on the site. I saw a LESS ".at2x" function for making background images bigger for retina devices but I don't know if there's anything

[2016-06-06 02:29] peppy commented on #554
That looks correct, although if it makes the styling easier you're welcome to make it stretch to the same width as every other page does right now. We plan on adding (user-customisable) width limitations at some point, at which point the home page will be limited to the width you have there.

@2x images should work magically as long as you use the at2x and get the filenames right.

[2016-06-06 02:45] reesebiz commented on #554
Ok I will make it match the other pages with so far. The design is really nice it should be in everyone's faces :P

Also is there a planned mobile design or am I going to wing it? Everything is laid out pretty simple I can make it collapse easily.

[2016-06-06 02:46] peppy commented on #554
Do your best with the "mobile" part. The menus should probably be done sharing how the full site's menu system works when collapsed (but with only the single tier.

[2016-06-06 15:41] odihominem commented on #554
I'm working on osu! logo animation on hover. I came up with this: http://codepen.io/mxnd/pen/beVdrG/
What do you guys think?

[2016-06-06 18:03] Ameobea commented on #554
@odihominem that's pretty amazing; 10/10 stuff

[2016-06-06 20:58] miterosan opened #577 "Where is the 'view' function defined?"
Where is the 'view' function defined?
http://puu.sh/pjf5R/57b0365da0.png

and also where does 'users.show' come from / gets defined?

[2016-06-06 20:59] LiquidPL commented on #577
`view` comes from laravel itself, so its not written by us.

As for `users.show`, check `resources/views/users/show.blade.php`.

[2016-06-06 21:01] miterosan commented on #577
oh okay, thanks

[2016-06-06 21:01] #577 closed

[2016-06-06 21:09] normundy commented on #577
Going through this series can help

https://laracasts.com/series/laravel-5-from-scratch

[2016-06-06 21:10] miterosan commented on #577
Okay I'll look into that too

[2016-06-06 21:15] miterosan commented on #577
@LiquidPL is there somewhere a place where i can ask you questions (programming related) to you?

[2016-06-06 22:21] ghost opened #578 "Load infos of profile page on demand instead of on page load"
I am currently changing that profile pages stop loading things like allscores... in inital page load.
Instead the infos should be loaded seperate and on demand only.

I do it over a GET command.

t: section of the profile like allScores or allScoresBest
offset: offset of the info
limit: limit of the requested info
http://puu.sh/pjkba/5a006f7a90.png

Are there some opinions about this?
- [x]  inita

[2016-06-06 22:31] peppy commented on #578
make it happen

[2016-06-06 23:27] peppy commented on #554
Reminds me of the swf version we used to have. I don't think we will use such an animation on the new site though (it doesn't fit with our style going forward).

[2016-06-06 23:33] peppy commented on #577
You can join our semi-public discord network and chat in the osu-web channel.

https://discord.gg/013KEJ9ERBQU595KN

[2016-06-06 23:39] peppy opened #579 "Add Client-ID to twitch API request"
See [here](https://blog.twitch.tv/client-id-required-for-kraken-api-calls-afbb8e95f843#.kktet5fah) for more info. The ID should be specified in env file.

[2016-06-06 23:55] reesebiz commented on #554
@peppy what do you mean by style? Like the image he used? Or the way he built the animation? Or the animation wasn't close enough compared to how the logo is in the game?

[2016-06-07 00:10] peppy commented on #554
Oh I guess flyte actually asked for this.

Well it doesn't behave how it should - the exploding part should be behind the logo and a white ring (as per flyte's specs). As it is it just looks messy (the pink mixing with the white border etc.)

Also the initial inwards part is too gradual if you're trying to match how it is in-game.

[2016-06-07 12:22] Loctav opened #582 "[Modding] Crucial changes before going live with the new Modding Panel"
Before we can make all new submitted mapsets use the new Modding Panel, there are still missing core features that need to be addressed before moving forward.

I am not sure if we keep using the old beatmap listing while we use the new modding panel for now (and up until the new beatmap listing for individual beatmaps is done entirely). If we use the new beatmap listing, we require the beatmap adm

[2016-06-07 12:53] miterosan opened #583 "where is the this.setstate()?"
In the file "\osu-web\resources\assets\coffee\react\profile-page\historical.coffee"
line 31 is a invoke for the @setState function. (this.setState(..., ..., ...) )

But where is the difinition of the function?

[2016-06-07 12:55] LiquidPL commented on #583
1. First, it's `setState`, not `getState`.
2. Check https://facebook.github.io/react/docs/component-api.html.
3. Get on that Discord server peppy mentioned earlier and ask questions there.

[2016-06-07 12:55] miterosan commented on #583
thank you!

[2016-06-07 12:55] #583 closed

[2016-06-07 12:57] peppy commented on #582
@Loctav can you check the open issues here and close any which have been addressed already? https://github.com/ppy/osu-web/milestones/New%20Beatmap%20Modding%20System

also link any duplicates from your list to these ones where applicable.

[2016-06-07 13:18] Loctav commented on #582
I have not found any issue that has been addressed already, but I linked related and duplicate open issues in my opening post, where applicable.

[2016-06-07 15:46] normundy opened #584 "Polls not showing on forums"
Pretty sure this is known and this may have been fixed on the release branch but will leave this here just in case (currently not on a machine with my osu-web development box).

Poll not showing: https://new.ppy.sh/forum/t/461899?start=unread

[2016-06-07 17:24] RaidMax commented on #554
Here's my take at the logo
[](http://codepen.io/anon/pen/WxQdLP)

[2016-06-07 19:41] Ameobea commented on #554
@RaidMax Another beautiful piece of work!

[2016-06-07 22:21] peppy commented on #554
Close to what I'd hope for :). @RaidMax's first try is probably a good place to start.

[2016-06-07 23:20] RaidMax commented on #554
@peppy
Now that I'm free, I can make it identical to the in-game menu animation, if that's what you're looking for. Also steady beat or varied?

[2016-06-08 00:39] peppy commented on #554
steady is fine

[2016-06-08 01:06] RaidMax commented on #554
@peppy
Something closer to the in-game menu: http://codepen.io/anon/pen/yJYqeo

[2016-06-08 02:19] peppy commented on #554
i'm still partial to http://codepen.io/anon/pen/WxQdLP (your first attempt). feels the best

[2016-06-08 04:06] kschamplin19 commented on #554
imo I prefer the latest one he made, because it is very flat like the rest of the page design. I notice that in the menu, it instantly (or almost instantly) snaps to big size before fading to small. Prevents it from looking jittery. Also the wake needs re-timing, to expand when the circle is at its smallest. IDK, just my two cents.

[2016-06-08 09:58] #560 closed

[2016-06-08 09:58] #579 closed

[2016-06-08 14:21] RaidMax commented on #554
Here's a final version that combines the timing and "feel" of the first with the smooth glow.
http://codepen.io/anon/pen/wWKZBr. Hopefully you guys can use one of my iterations as a base.

[2016-06-08 18:28] LiquidPL commented on #559
how are we going to handle converts in this one?

[2016-06-09 08:58] peppy commented on #582
is this the ability to hide/unhide comments?

not sure this is needed. can we not rely on restricting abusive users OR hiding the discussion thread OR hiding based on downvotes?

[2016-06-09 10:56] Loctav commented on #582
basically that they can edit/delete/lock stuff. Right now, they have no additional privileges (like marking issues as resolved or editing/merging comments/soft-deleting issues/etc.

I have the feeling that some issue threads might get reopened, even though the discussion on them has been concluded. To avoid endless cycles of reviving a discussion about the same thing that has been debated dozens o

[2016-06-09 10:56] peppy commented on #582
Let's add these features after we see how the system is being used, IMO.

[2016-06-09 10:58] Loctav commented on #582
If you are quick enough to add them when they get out of hand, sure. But leaving the QAT/GMT without any moderation privileges while they shall add as moderators seems contradicting to me. Because right now, there are none.

[2016-06-09 10:59] peppy commented on #582
I do not believe we need such moderation features to go live. "adding them as moderators" is a non-existent step.

[2016-06-09 11:01] Loctav commented on #582
We agreed that the QAT shall moderate and supervise the system. Not giving them the appropriate tools to achieve that is not really what we talked about, then.

[2016-06-09 11:01] peppy commented on #582
cool story bro. can be added later after we see the system in use.

[2016-06-09 18:38] TPGPL commented on #338
@peppy isn't it done already?

[2016-06-10 07:29] nekodex commented on #338
Yeah this is already done, closing.

[2016-06-10 07:29] #338 closed

[2016-06-10 07:42] RedbackThomson commented on #554
How long should the time span of the online users graph be?

[2016-06-10 12:27] TPGPL commented on #37
close this issue

[2016-06-10 16:56] oamaok opened #597 "Mod badge inconsistencies"
Easy and NoFail: The drop shadow is lighter and more blurred compared to the rest.
1K: One pixel shorter in height than the others.

Only checked the 2x versions.

[2016-06-10 17:23] LiquidPL commented on #559
grabbing this one as soon as flyte gives me updated designs

[2016-06-10 17:32] ren- commented on #550
I'm up for it, please let me know what's currently available from the front end.

[2016-06-10 18:21] RedbackThomson commented on #550
If flyte has not posted a PSD with the design, then there is no current front end design.

[2016-06-10 19:01] sn0w commented on #30
Re-Claiming for 25 days

[2016-06-10 23:17] sn0w commented on #30
This is the result of my first iteration.
Any feedback on the design?

BB-Code:
![](https://fs.lukas.moe/jepr76dzpc00.png)

Preview:
![](https://fs.lukas.moe/nzhds2k2kg0w.png)

The current implementation fades between the two views with 300ms long jQuery animations.

[2016-06-11 07:09] peppy commented on #30
This is a good start. Not sure a fade it needed though.

[2016-06-11 09:39] TPGPL commented on #574
close this issue

[2016-06-11 09:43] TPGPL commented on #251
missing terms of service [https://osu.ppy.sh/p/terms](url) and copyright [https://osu.ppy.sh/p/copyright](url)

[2016-06-11 10:06] #574 closed

[2016-06-11 10:14] TPGPL commented on #288
osu!next website will be probably able to translate on the localization page.
Close this issue.

[2016-06-11 10:16] TPGPL commented on #387
it's probably fixed (can't see qualified maps on ranked section.
Close this issue.

[2016-06-11 10:30] peppy commented on #554
24 hours seems best!

[2016-06-11 10:31] peppy commented on #554
@RaidMax  I think that feels fine for now!

[2016-06-11 11:59] ren- commented on #550
@peppy Can this be split into 2 bounties? One for the frontend the other for the backend?
I can do the backend, but I'd need someone to do the rest.

[2016-06-11 12:09] TPGPL commented on #37
@peppy Why isn't this issue closed?

[2016-06-11 12:21] LiquidPL commented on #550
i guess you should consult this with whoever is doing the issue right now

@normundy ping ping

[2016-06-11 13:19] #387 closed

[2016-06-11 19:18] MasterBugPatch commented on #37
@TPGPL @nanaya wants me to make changes to the CSS to follow BEM, I should probably get to it soon.

[2016-06-11 19:19] LiquidPL commented on #37
@TPGPL you probably shouldn't mention peppy in every comment you make, i'm sure he goes through them anyways.

[2016-06-11 19:27] TPGPL commented on #37
@LiquidPL ok, thanks for the tip.

[2016-06-12 12:44] TPGPL commented on #2
isn't it finished?

[2016-06-14 15:00] TPGPL commented on #554
@reesebiz How's the work going?

[2016-06-15 00:18] reesebiz commented on #554
@TPGPL Mostly done. Just finishing up some things and making some fixes before we make a PR

[2016-06-15 11:52] reesebiz commented on #554
@ppy @arflyte For the online users graph: What do you guys think about having functionality to show the number of players online during a certain period of time on hover?

By default the graph would show the peak users amount always, but on hover the circle would move to the x-coordinates of the mouse on the graph and show the users online at that point of time.

It would remove the "Peak," part o

[2016-06-15 12:08] peppy commented on #554
There's a status page to get more detail. Personally I don't think it should be something we offer here.

[2016-06-15 12:11] arflyte commented on #554
I'm fine with showing the number of players online on hover. We'll try usability after implementation. Remove it if it feels weird.

[2016-06-15 12:56] TPGPL commented on #554
maybe the number should be in the box near the cursor?

[2016-06-15 13:10] TPGPL commented on #475
Close this issue cuz it's done.

[2016-06-15 20:28] IrateGod commented on #550
I am not that great at designing front-end, but I may well be able to help with the back-end.

@peppy are there any updates on this issue so far? As @ren- stated I would want to ask if this could be split up into the two tasks mentioned above.

[2016-06-16 00:10] peppy commented on #550
you're free to work on portions. i'm not splitting this up just yet because we don't have completed designs

[2016-06-16 04:39] Hughp135 opened #604 "laroute.js file missing"
Getting an error because I don't have the laroute.js file, causing the page to crash. This should be in the resources/assets/js directory but has been git ignored from the repository.

Could anyone please send me this file or tell me how to get it?

Thanks

[2016-06-16 04:39] nanaya commented on #604
check the build script `build.sh`

[2016-06-16 04:40] Hughp135 commented on #604
Thank you

[2016-06-16 04:40] #604 closed

[2016-06-16 07:37] Hughp135 opened #605 "Missing phpbb tables?"
Some of the phpbb tables seem to be missing from the migrations, giving you errors if you try to make new topics etc.

Tables that I've noticed missing: phpbb_acl_options, phpbb_acl_roles_data.

Do these need to be added to migrations and seeded at all? Or am I being retarded?

[2016-06-16 08:32] LiquidPL commented on #559
this is a test comment

[2016-06-16 11:39] IrateGod commented on #154
Although a little late, I would like to tag onto this issue.

While under Windows 8.1, I am unable to connect to the machine. Prior to adding `git.exe` to my Path due to its integrated ssh client, I would be able to run `vagrant up` but would fail on `vagrant ssh`.

Has this issue ever occurred to you during setup? I would try adjusting my configs but I don't think it's an issue with that.

[2016-06-16 16:42] TPGPL commented on #501
How's the work going?

[2016-06-17 08:27] nanaya commented on #605
[code]

[2016-06-19 13:42] Hughp135 commented on #605
Thanks. Is there also any data in those tables necessary for functionality?

[2016-06-20 05:08] nanaya commented on #605
To be able to post as non-admin, at least these are needed (I think):

- `auth_option` `f_read` in `acl_options`
- a group in `phpbb_groups` (default `group_id` is `UserGroup::GROUPS['default']`)
- relevant entry in `acl_groups` with `auth_setting` 1

[2016-06-20 08:22] arflyte commented on #559
![](https://cloud.githubusercontent.com/assets/3632750/16187416/2a9565ec-370b-11e6-9e85-3fea9804e175.png)

New design update to conform to the new navigation bars.

![](http://puu.sh/pzdI1/0090d51773.png)
Sub-navigation bar to switch game modes. Top left of the cover only displays available difficulty for selected mode.

[2016-06-20 09:31] nanaya commented on #549
p.sure this is done (as part of #560).

[2016-06-20 13:41] TPGPL commented on #559
new navigation bars look bad tbh

[2016-06-20 13:59] TPGPL commented on #559
shouldn't the darkgrey background of new navigation bars be map's background?

[2016-06-21 10:24] arflyte opened #613 "Navigation Header Design Update, Part 1"
![](http://puu.sh/pz9qx/f48b74f827.png)

Design update to replace the current top navigation bar to improve usability and standardise designs. All image snippets at 2x unless mentioned otherwise.
### Pulsing osu!cookie

![](http://puu.sh/pAo4x/2e30882e3e.png)

The osu!cookie should pulse on hover. Suggest something nice, fun and not overly done.
### Main Navigation Panel
#### Title Bar

![](http:/

[2016-06-21 10:25] arflyte opened #614 "Player Profile Page Design Update, Part 1"
![](http://puu.sh/pKbnR/20632b4573.png)

New design for player profile page. **Designs not final** but ready for implementation. All image snippets at 2x, unless mentioned otherwise.

_This design is meant for desktop and tablet. Mobile view is still a work in progress._
### Main Information
#### Switching game modes

![](http://puu.sh/pze4g/9079fa92c2.png)

Game mode selector is on top of the pag

[2016-06-21 10:30] arflyte opened #615 "Player Main Page, Part 1"
![](http://puu.sh/pAt5d/3676a05051.png)

This is the new design for player main page when they're signed in. Players will be able to check the news update, friends page, team member page, messaging, account settings and maybe more. **Designs not final** but ready for implementation.

For now, only the news page is designed.

_This design is meant for desktop and tablet. Mobile view is still a work

[2016-06-21 10:44] arflyte opened #616 "Forum Thread Design Update"
![](http://puu.sh/pAvnh/ad3574feca.png)

New design update to conform to the latest design standards.

![](http://puu.sh/pAvoE/1e98b0ef8c.png)

The new sub-navigation bar that used on other pages as section tabs, is used as breadcrumb bar in the forums.

Tab colour follows the forum section colour. Pink is used in the example.

![](http://puu.sh/pAvrU/ab98a355cf.png)

Thread title design updated t

[2016-06-21 13:46] TPGPL commented on #615
►The dark background looks bad with the triangle background (mixing white and black isn't good)
►Navigation bars should have thinner underline and the first char should be uppercase
►Pink font doesn't look nice on grey background

[2016-06-22 00:23] IrateGod commented on #154
Piggybacking this issue again - it's been resolved by using Putty. If no one else responds I think this can be closed.

[2016-06-22 13:32] Risers commented on #31
I think that this issue may be closed

[2016-06-22 18:41] iamanai commented on #615
Just a personal opinion, but it would look way more uniform and streamlined if everything (except the main header bar, which will extend all the way across) were the same width. I get what you're trying to do here, but it just doesn't appeal to me. Besides the widths, everything looks splendid!

[2016-06-22 19:19] kschamplin19 commented on #615
that design choice is everywhere on the site.

[2016-06-22 21:35] iamanai commented on #615
Yeah, I know. I'm saying I think it ought to be changed site-wide.

[2016-06-23 00:52] peppy commented on #31
Thanks for pointing that out. Awarded you 60 boundy :+1:.

[2016-06-23 00:52] #31 closed

[2016-06-24 14:19] suzumotoHikari commented on #435
Note: You can ignore this reply if this is against on the flyte's design.
Also, i am newbie on this kind of development especially coding less. :)

On the file `forum-post.less` on the line 284, on `&__info-panel-extra`, i just changed the value of `justify-content` to `initial`. Rather, removing the `justify-content` might work as well.

Also, you can remove it. As a probe, i had an image below s

[2016-06-29 09:44] arflyte opened #620 "Navigation Header Design Update, Part 2: Quick Search"
![](http://puu.sh/pJQW4/11e5c48a21.png)

Quick Search Panel, which is part of the new main navigation bar.

![](http://puu.sh/pJR2E/bcf17d0938.png)

The orange bar that underlined the page section title is now underlining the search box. The search box will go darker once activated.

The first 4 results are displayed in the box.

The result type (player, beatmap, etc) is displayed underneath the p

[2016-06-29 09:47] nanaya commented on #620
the mythical search result page :+1:

[2016-06-29 09:49] arflyte opened #621 "Navigation Header Design Update, Part 3: Quick Profile"
## Quick Profile

This is the new Quick Profile panel is which part of the new Main Navigation bar. It's accessible via clicking the player's name or avatar. Wipe transition from the right (will be detailed in the future).

![](http://puu.sh/pJWmo/c28342bb88.png)

The page section title yellow underline now underlines the player's name. Yellow border on player's avatar.

The navbox is split into 3

[2016-06-29 12:54] arflyte commented on #614
Design updated with achievement titles obtained from unlocking achievements.

[2016-06-30 07:17] arflyte commented on #613
![](http://puu.sh/pL9rh/14689a1afd.png)

New language settings added to the navigation bar. The item and the bar is purple.

The flags represents the language's origin (or where it's used as the official language), something pretty common in multi-language manuals. This might be changed in the future too accommodate more languages in the future.

[2016-07-03 17:22] peppy opened #627 "Ability to soft delete forum posts"
Rather than implementing "split thread", we should have a moderator function to toggle hiding posts from the public in a thread.

[2016-07-03 17:22] peppy opened #628 "Ability to subscribe to threads"
Need email notifications and ability to subscribe/unsubscribe from threads.

Also probably have a listing of all subscribed threads (using the forum display logic?)

[2016-07-04 09:04] RedbackThomson commented on #615
@reesebiz and I are keen to work on this after we finish the landing. Just reply if/when the changes are made with the PSD and we can hit it asap.

[2016-07-05 17:16] BossOfGames opened #634 "Initial Setup"
Hey all,

I am trying to setup the web environment but I am running into issues on the forum side of things. How does one get the forum to work properly within the testing environment (Vagrant)?

[2016-07-05 17:48] BossOfGames commented on #634
More specifically, I am getting this error:

`QueryException in Connection.php line 713:
SQLSTATE[42S02]: Base table or view not found: 1146 Table 'osu.phpbb_acl_options' doesn't exist (SQL: select `auth_option_id` from `phpbb_acl_options` where `auth_option` = f_post limit 1)`

[2016-07-05 18:28] kschamplin19 commented on #634
See #605.

[2016-07-05 18:39] BossOfGames commented on #634
So how exactly do I add these missing tables referenced in #605?

[2016-07-05 18:44] BossOfGames commented on #605
So how exactly do I add these missing tables?

[2016-07-05 19:11] LiquidPL commented on #605
http://lmgtfy.com/?q=how+to+mysql

[2016-07-06 00:25] #634 closed

[2016-07-06 09:13] peppy opened #636 "Top menu should link to old site for incomplete areas"
In preparation for making the forum portion of osu-web live, the top menu should link to the old site where necessary.

The old site's domain should be an env/config setting. Ask if any specifics are unclear.

[2016-07-06 12:00] peppy opened #638 "Forum posting box shouldn't be visible when no permission to post or thread locked"

[2016-07-06 12:08] peppy opened #639 "Left and right keys should navigate between forum posts"

[2016-07-08 05:54] #638 closed

[2016-07-08 07:49] TPGPL commented on #559
@arflyte what about legend for Points of Failure?

[2016-07-08 13:49] LiquidPL commented on #605
this doesn't seem to be in any of our migrations

[2016-07-08 14:13] nanaya commented on #605
[code]

[2016-07-13 07:10] TheBITLINK commented on #639
I'll do it

[2016-07-14 06:25] #639 closed

[2016-07-15 03:47] BossOfGames commented on #636
I will be happy to do it. I do not know which file to edit though. I have been searching the blade files and hit dead ends.

[2016-07-18 05:25] #605 closed

[2016-07-18 15:56] comentarinformal commented on #627
Should the post_approved column be used for this? It's not used by anything else and it makes sense (post not approved == hidden).
Or is it made for other situations?

[2016-07-19 09:26] comentarinformal opened #650 "Table needed for current moderation actions"
Trying to do various actions (like, for example, deleting someone's post) are logged. However, the table that stores them (_phpbb_log_) isn't created.
I'd need it to keep trying stuff, because I've no idea of the types of columns that it uses.

[2016-07-19 09:27] nanaya commented on #650
[code]

[2016-07-19 13:39] #650 closed

[2016-07-21 04:39] peppy commented on #554
Awarding 1000 bounty for this to @RedbackThomson :+1:.

[2016-07-21 04:39] #554 closed

[2016-07-21 12:01] reesebiz commented on #615
@arflyte @peppy Where can we find the psd at?

[2016-07-22 08:59] #513 closed

[2016-07-22 09:09] peppy commented on #513
Awarding 80 bounty for this. :+1:

[2016-07-23 03:26] #288 closed

[2016-07-26 15:33] LiquidPL commented on #559
@arflyte may I ask you where do those icons come from (the first one is in fontawesome, but not sure about the rest)

[2016-07-27 13:35] arflyte commented on #559
[BDI - Accuracy.pdf](https://github.com/ppy/osu-web/files/386166/BDI.-.Accuracy.pdf)
[BDI - Approach Rate.pdf](https://github.com/ppy/osu-web/files/386167/BDI.-.Approach.Rate.pdf)
[BDI - BPM.pdf](https://github.com/ppy/osu-web/files/386164/BDI.-.BPM.pdf)
[BDI - Circles.pdf](https://github.com/ppy/osu-web/files/386163/BDI.-.Circles.pdf)
[BDI - HP Drain.pdf](https://github.com/ppy/osu-web/files/3861

[2016-07-29 01:18] peppy opened #661 "Beatmap Info page header logic is broken"
some weirdness with the beatmap info header display logic:

https://puu.sh/qi6oW/90e2fbc295.mp4

[2016-07-29 01:19] peppy opened #662 "User header becomes detached on scroll"
https://puu.sh/qi6wI/45db57704e.mp4

[2016-07-29 01:19] peppy commented on #661
For what it's worth, this also happens on profile pages.

[2016-07-29 01:22] peppy opened #663 "Long items should (hopefully) be able to over-extend"
![](https://puu.sh/qi6fZ/8b975f29ea.png)

In this scenario, it would be really cool if featured artists didn't wrap and instead over-extended into ranking's territory. I *believe* this was the original intention.

[2016-07-29 01:27] kschamplin19 commented on #615
Will this update the team page design as well? I'd like to do it now rather than later.

[2016-07-29 01:37] peppy commented on #467
@kschamplin19 this is the correct place to discuss the teams page. i'll get you an updated psd later today (cc @arflyte).

also you should jump on [discord](https://discordapp.com/invite/rM3tY5w).

[2016-07-29 03:19] nekodex opened #664 "User header still shows login form after logging in"
![](https://puu.sh/qicJI/5722c10a13.png)

Also shows user details after logging out:

![](https://puu.sh/qicRj/a7ed9d8d70.png)

[2016-07-29 03:50] AstrOsu opened #665 "The osu! logo at the top left gets cut off when zoomed in"
Can someone assign the bug label?

https://puu.sh/qie8B/48e87bc719.png
(My screenshot is fullscreen so that you can't see my bookmarks, fullscreen is not required for this to happen)

Using Chrome on a 1920x1080 monitor, any zoom level at or above 150% turns the logo into a quarter circle.
It also occurs on Microsoft Edge at 150%, but not internet explorer.  Unable to test firefox.

I've been usin

[2016-07-29 03:52] AstrOsu commented on #665
Just remembered my Ubuntu 16.04 machine has Firefox.  Logo fractured at 150% zoom, like in previous cases.  That Monitor is 1680x1050

[2016-07-29 15:03] #662 closed

[2016-07-29 15:03] #663 closed

[2016-07-29 15:03] #664 closed

[2016-07-29 15:03] #665 closed

[2016-07-29 18:40] WorldSEnder opened #667 "Beatmap Listing any rank status is broken"
Currently when you try to search for the Rank Status "Any", this will behave like "Ranked & Approved". Reason being the line https://github.com/ppy/osu-web/blob/fa2d88f79653755190b644efcdee3a6c6611de54/app/Http/Controllers/BeatmapsetsController.php#L55 where `id=null` behaves like an absent id, which will then again default to 0 or "Ranked & Approved" on the server.
A simple fix would be changing

[2016-07-30 13:28] Risers commented on #550
Is anybody doing this?
And have we got completed designs?

[2016-07-31 11:07] Akuba- opened #669 "Contest page Cleartype font issue with Firefox"
The font on the contest page is barely readable using Firefox with enabled Cleartype on Windows:
[Cleartype enabled](http://up.akuba.eu/2016-07/31125430.png)
If I disable Cleartype it is readable again:
[Cleartype disabled](http://up.akuba.eu/2016-07/31130449.png)

I only have this issue with Firefox, Chrome looks fine, whether Cleartype enabled or not:
[Chrome](http://up.akuba.eu/2016-07/31130722

[2016-08-01 04:15] peppy commented on #669
I believe this should be fixed now. Please close if so.

[2016-08-01 10:03] Risers commented on #550
I'll do this

[2016-08-01 12:38] #669 closed

[2016-08-01 22:07] chudooder opened #675 "Addition of replay parsing functionality"
This is more of a checklist for me as I move forward with the replay parsing integration, but there are few things I want to start discussion on since access to the official data sources could change things about the flow of the user experience.

## Functionality spec
See here for my website: http://osureplay.com/

**Uploading replays**
1. User goes to upload page, chooses a replay from their file

[2016-08-02 01:37] peppy commented on #675
So just a bit of feedback:

- I wouldn't allow uploading of replays at all. They would be sourced from the replays stored on the servers instead. If people want to upload their replays, they should continue using osureplay.com
- Parsing can be done on page load (and cached to redis) for a period of time. There's no need to do parsing ahead-of-time unless it is to be used for other purposes (automa

[2016-08-02 03:05] peppy opened #676 "Header displaying incorrectly on the store admin page"
![picture = 1000 words](https://puu.sh/qmJi5/3bd8afd1a9.png)

[2016-08-02 04:23] chudooder commented on #675
I think the most straightforward solution is to add a route like /r/<replay_hash>, then link to those pages from other places like the beatmap page's top scores and user profile top scores. I'll add a link to my current parsing code to the OP in case anyone wants to take a look; It's written in python and is a bit messy (and buggy).

[2016-08-02 04:25] peppy commented on #675
For what it's worth, i believe we're doing away with the short links (/b/ /s/ etc.) in favour of properly structured ones. But that is an easy change to make later on too.

Do you think the analysis code would be easy to port to php? If not, we can probably just use the python version for now, running a processing queue.

[2016-08-02 04:31] chudooder commented on #675
The replay file needs to be handled like the other .db files (byte by byte parsing) and contains an LZMA string which needs to be decompressed. If libraries for those exist then it's definitely possible to port the code, but it'll take some time since I'm not used to working in php. And I'd like to fix those remaining phantom miss bugs with a language I'm more familiar with before porting anyway.

[2016-08-02 04:32] peppy commented on #675
As long as you are happy with open-sourcing the py version under a license we can use then that should be fine for now :).

[2016-08-02 11:00] #676 closed

[2016-08-06 02:02] Magentah opened #682 "Feature Idea/Request: Tournament Management"
I mentioned in Discord that I'm working on an osu! Tournament Manager and someone thought I should ask about implementing it in osu-web, so here it is.

As of right now, this is only in planning stages.

### _**Note**_: I would be building this all myself. I'm going to be creating it regardless, so the only difference is whether it's part of osu-web or whether I host it myself.

## **Reasoning**

[2016-08-06 02:09] peppy commented on #682
This is something we were going to eventually add to the official site. If you want to help make that vision happen then I'm all for it!

In exchange we can provide the UI designs courtesy of flyte and can also reward bounty for your efforts.

[2016-08-06 02:21] Magentah commented on #682
Alright. I've not used PHP before so will take me a little while to get familiar with it (only done C# web dev..). I'll make a branch and start working on it in the next few days/week or so. I have no idea about time estimate unfortunately :D

[2016-08-06 02:22] peppy commented on #682
If you have any questions just ask!

[2016-08-10 17:24] iamanai commented on #621
I know next to nothing about PHP or even how osu-web functions (I've been trying to figure it out, but to no avail). Is there still some way I could help move this project forward?

[2016-08-11 00:04] iamanai opened #687 "Error: "mysql: unrecognized service""
I am attempting to deploy the project using the instructions in the readme file, but vagrant stops with the message, "The SSH command responded with a non-zero exit status." Upon reading the log to find out what went wrong, it seems that vagrant cannot access "mysql".

What am I doing wrong? The full output is provided below.

[2016-08-11 00:15] cl8n commented on #687
Try changing `mysql-server-5.7` to `mysql-community-server` on line 26 of bootstrap.sh--- if that doesn't fix everything, try re-saving the three .sh files with LF line endings rather than CRLF. I had to do both of these things before vagrant got up correctly.

[2016-08-11 00:37] iamanai commented on #687
Changing line 26 did nothing. How would you go about changing the line endings?

[2016-08-11 00:40] iamanai commented on #687
Doing both of those things did not solve the issue.

[2016-08-11 00:43] peppy commented on #687
are you vagrant `destroy; vagrant up;`ing after the changes?

[2016-08-11 00:44] iamanai commented on #687
No I was not. I'll try that now.

[2016-08-11 00:54] iamanai commented on #687
Well, that worked, but now attempting to load the website comes up with

SQLSTATE[HY000] [1049] Unknown database 'osu'

Sorry for all the questions - I am horrendously inexperienced when it comes to web development. Why would the osu database be missing?

[2016-08-11 02:23] iamanai commented on #687
Well, the initial problem is solved, so I'm closing this issue. Thanks!

[2016-08-11 02:23] #687 closed

[2016-08-11 02:54] iamanai opened #688 "Unknown database 'osu'"
Ugh... I'm attempting just to set up the VMs and things as explained in the readme file, but have run into numerous issues. First it didn't think mysql existed, then it couldn't ssh into the VM, and now I'm running into a "SQLSTATE[HY000] [1049] Unknown database 'osu'" error every time I try to perform an ssh action or open the page using localhost.

I feel so clueless... Curse me and my inexperie

[2016-08-11 03:08] ThePooN commented on #688
You should execute the `bin/db_setup` script.

[2016-08-11 03:13] iamanai commented on #688
And how do I do that? Going through both regular command prompt and the ssh client does nothing (sorry again for my complete noobishness. I'm trying!)

[2016-08-11 03:14] ThePooN commented on #688
You should `vagrant ssh`, then `cd /data/osu\!web/bin` and `./db_setup`.

[2016-08-11 03:16] iamanai commented on #688
Doing that produced a 'no such file or directory' error. I changed the line endings to LF and it spat out "ERROR 1698 (28000): Access denied for user 'root'@'localhost'"

[2016-08-11 03:19] ThePooN commented on #688
Seems like root permissions are needed. Try `sudo ./db_setup` instead.

[2016-08-11 03:22] iamanai commented on #688
Yay, that worked, but now I'm getting ANOTHER error when attempting to load the page or do anything else. This is just fantastic.

[2016-08-11 03:24] ThePooN commented on #688
You should read the README.

You should generate assets, reset and seed the db to get the website working.

[2016-08-11 03:29] iamanai commented on #688
My bad, I was trying to create the user first because that was the next item on the readme. I did the first part of asset generation just fine, but when I got to "./node_modules/.bin/gulp", it threw a "no such file or directory" at me. Should I just seed the database anyway?

[2016-08-11 03:30] ThePooN commented on #688
Try doing `npm install` in the osu!web folder and generate assets again.

[2016-08-11 03:30] ThePooN commented on #688
You should eventually generate a user, but after seeding the database.

[2016-08-11 03:35] iamanai commented on #688
SQLSTATE[23000]: Integrity constraint violation: 1217 Cannot delete or update a parent row: a foreign key constraint fails

[2016-08-11 03:36] iamanai commented on #688
The whole log of the asset creation?

[2016-08-11 03:36] iamanai commented on #688
Because that's the whole log upon seeding the databse.